/*!
Theme Name: Acres Foundation
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: acres-foundation
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Acres Foundation is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
@import 'assets/scss/normalize.scss';
@import 'assets/scss/base_style.scss';

/*nothing below this point is needed*/
/* #Navigation
================================================== */

.start-header {
	/*opacity: 1;
	transform: translateY(0);
	padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);*/
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	/*position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;*/
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
	align-items: flex-end;
}
.navbar-brand
{
	padding: 0;
	 img{
		height: auto;
		width: 120px;
		display: block;
		-webkit-transition : all 0.3s ease-out;
		transition : all 0.3s ease-out;
	}
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #ed1651 !important;
}
.nav-item.active .nav-link{
	color: #ed1651 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:last-child:after{
background: none
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
	font-family: 'Poppins-SemiBold';
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: normal;
	text-align: left;
	color: #707070;
		@include screen(med-small){
			font-size: 13px;
		}
}
.topmenu{
	ul{
		display: flex;
		justify-content: space-between;
		max-width: 75%;
		width: 75%;
		align-items: baseline;
		@include screen(med){
			max-width: 100%;
			width: 100%;
		}
		@include screen(small){
			max-width: 90%;
			width: 90%;
		}
		li{

			a{
				text-transform: uppercase;
				h2{
					font-family: 'Poppins-Medium';
					font-size: 18px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.22;
					letter-spacing: 0.09px;
					text-align: center;
					color: #ffffff;
					/*background: hsl(0, 0%, 90%);*/background: #adadad;
					max-width: 206px;
					margin: 0;
    				padding: 13px;
				}
			}

		}
		.menu-item-has-children{
			position: static;
			padding: 0 22px;
			@include screen(small){
				padding: 0;
				position: relative;
			}
			.sub-menu{
				//flex-direction: column;
			    margin: 0;
			    padding: 10px 0 0 0;
			    list-style: none;
			    width: auto;
			    max-width: 100%;
			    display: none;
			    position: absolute;
			    z-index:22;
				@include screen(small){
					position: unset;
				}
			    li{
			    	font-size: 14px;
    				width: max-content;
    				width: -moz-max-content;
    				@include screen(small){
	    				font-size: 13px;
    				}
			    	&:hover{
			    		border:none;
			    	}
			    	&:after{
			    		background: transparent;
			    	}
			    	a{
			    		color: #212121 !important;
			    	}
			    }
			}
		}
	}
}
.topmenu ul .menu-item-has-children:hover > ul,
.topmenu ul .menu-item-has-children:active > ul{
	display: block;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
}
.menu-item-has-children{
	&:after{
		background:transparent !important;
	}
	&:before{
		@include screen(small){
			content: "";
			background: url('./assets/images/br_down.png')no-repeat !important;
		    font-size: 18px;
		    color: #000;
		    padding-left: 10px;
		    width: 20px;
		    height: 20px;
		    background-size: 13px !important;
		    position: absolute;
		    right: -30px;
    		cursor: pointer;
				top: 6px;
			}
		}
	a{
		position: relative;
		&:after{
			content: "";
			background: url('./assets/images/br_down.png')no-repeat !important;
		    font-size: 18px;
		    color: #000;
		    padding-left: 10px;
		    width: 20px;
		    height: 20px;
		    background-size: 13px !important;
		    position: absolute;
		    right: -30px;
    		top: 10px;
    		cursor: pointer;
			@include screen(small){
				top: 6px;
				content: none;
			}
		}
		
	}
	&:hover{
			.sub-menu{
				li{
					a{
						&:after{
							content: none;
						}
					}
				}
			}
		}
	
}
.mob-down{
		width: 100%;
		display: none;
		h2{
			background: #542f87;
			font-size: 18px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.44;
			letter-spacing: 0.09px;
			text-align: center;
			color: #ffffff;
			padding: 15px 0;
			margin: 0;
		}
}
.max-width-ct{
	max-width: 1320px;
	width: 100%;
	margin: 0 auto;
	nav{
		@include screen(small){
			align-items: center;
		}
	}
}

.top-slider{

			@include screen(small){
				margin-top: 5%;
				padding-left: 0;
				padding-right: 0;
			}


	.sty-ribban{
		background: hsl(355deg 79% 58%);
		display: inline-block;
		position: absolute;
	    left: 15px;
	    bottom: 6%;
	    text-align: center;
    	padding: 20px;
		@include screen(med-small){
			bottom: 0;
    	}
		@include screen(small){
			position: static;
			width: 100%;
		}
		h2{
			font-family: 'Poppins-Bold';
			font-size: 42px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.31;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			padding: 0;
			margin: 0;
			@include screen(small){
				/*font-size: 1.5rem;*/
				display: none;
			}
		}
		p{
			font-family: 'Poppins-Medium';
			padding: 0;
			margin: 0;
			font-size: 24px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.29;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			@include screen(small){
				line-height: 1.5;
			}
		}
	}
	.i-button {
	    position: absolute;
	    right: 0;
	    bottom: 1%;
	    max-width: 159px;
			@include screen(small){
				bottom: 24%;
				max-width: 100px;
			}
	}
}

.comman-cls{
	h5{
		font-family: 'Poppins-Medium';
		font-size: 24px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		margin: 0;
		padding: 0;
	}
	h2{
		font-family: 'Poppins-Bold';
		font-size: 42px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
		margin: 0;
		padding: 0;
	}
	p{
		font-family: 'Poppins-Regular';
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.67;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		margin: 0;
		padding: 0;
			@include screen(small){
				font-size: 16px;
			}
			&:last-child{
				@include screen(small){
					padding-bottom: 40px;
				}
			}
	}
}
.new-idea{
	align-items: center;
	padding: 10% 0 5% 0;
	h2,p,h5{
		width: 94%;
	}
	h2{
		padding: 0 0 10% 0;
			@include screen(med-small){
				line-height: 1;
				padding-top: 20px;
			}

	}
	h2,h5{
			@include screen(small){
				display: none;
			}
	}
	p{
		@include screen(small){
			padding-bottom: 20px;
		}
	}
}

.education-ct{
	    padding: 5% 0 10% 0;
	h5,h2{
		text-align: center;
	}
	h2{
		padding-bottom: 20px;
		@include screen(small){
					font-size: 24px;
					padding: 0px;
					text-align: left;
				}
	}
	h5{
		@include screen(small){
					font-size: 16px;
					padding: 0px;
					text-align: left;
				}
	}
	.col{
			background: #a2a2a2;
			flex-direction: column;
    		justify-content: space-between;
    		display: flex;
    		border: solid 10px #fff;
    		padding: 15px;
    		h3{
				font-family: 'Poppins-Bold';
				font-size: 24px;
				font-weight: bold;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.38;
				letter-spacing: 0.55px;
				text-align: left;
				color: #ffffff;
				padding-bottom: 20%;
				
				@include screen(med){
					font-size: 20px;
				}
				@include screen(med-small){
					font-size: 14px;
					padding-bottom: 20px;
				}
				@include screen(small){
					padding-bottom: 10%;
				}
    		}
    		p{
				font-family: 'Poppins-Regular';
				font-size: 14px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.65;
				letter-spacing: 0.34px;
				text-align: left;
				color: #ffffff;
				padding-bottom: 0;
    		}
	}
}

.vision-ct{
	background: #542f87;
	padding: 4% 0;
	h2{
		font-family: 'Poppins-Bold';
		font-size: 42px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: 0.84px;
		text-align: center;
		color: #aae1ff;
				
			@include screen(small){
				font-size: 28px;
				padding-bottom: 15px;
			}
	}
	.blockqute-ct{
			display: flex;
		    max-width: 52%;
		    align-items: center;
		    /* justify-content: space-between; */
		    justify-content: center;
		    margin: 0 auto;
				@include screen(med-small){
					max-width: 82%;
				}
			@include screen(small){
				flex-direction: column;
				max-width: 90%;
			}
		p{
			font-family: 'Poppins-Medium';
			font-size: 22px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.6;
			letter-spacing: normal;
			text-align: center;
			color: #ffffff;
			padding: 15px;
			@include screen(small){
				font-size: 16px;
			}
			
		}
		img{
			width: 70px;
			@include screen(small){
				width: 40px;
			}
			&:first-child{
				@include screen(small){
					margin-right: auto;
				}
			}
			&:last-child{
				@include screen(small){
					margin-left: auto;
				}
			}
		}
	}
}

.work-ct{
	background: #efefef;
	padding: 5% 0 2% 0;
	h5,h2,h4{
		text-align: center;
	}
	h5{
		@include screen(small){
			font-size: 20px;
			padding-top: 25px;
		}
	}
	h2{
		@include screen(small){
			font-size: 22px;
			max-width: 90%;
			margin: 0 auto;
		}
	}
	h4{
		max-width: 60%;
    	margin: 0 auto;
    	font-family: 'Poppins-Regular';
	  font-size: 18px;
	  font-weight: normal;
	  font-stretch: normal;
	  font-style: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: center;
	  color: #000000;
	  padding-bottom: 5%;
		@include screen(med-small){
			max-width: 85%;
		}
		@include screen(small){
			display: none;
		}
	}
	.bg-path{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 220px;
			margin-bottom: 5%;
				@include screen(med-small){
					    min-height: 180px;
				}
			@include screen(small){
				margin-top: 10%;
				min-height: 190px;
			    /*justify-content: flex-end;*/
			    justify-content: center;
			}
		&:after, &:before{
			background: url('./assets/images/Path.svg') no-repeat;
			content: '';
		    position: absolute;
		    /*border: solid;*/
		    top: 0;
		    width: 100px;
		    height: 100%;
				@include screen(med-small){
					height: 100%;
    				background-size: contain;
				}
			@include screen(small){
				width: 80px;
				background-size: 100%;
		    }
		}
		&:after{left: 10px}
		&:before{
			right: 10px;
			-webkit-transform: scaleX(-1);
  			transform: scaleX(-1);
		}
		h2{
			font-family: 'Poppins-Bold';
			font-size: 18px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: 0.18px;
			text-align: center;
			color: #623191;
			border-bottom: solid 2px #ee2250;
			padding-bottom: 10px;
    		margin-bottom: 10px;
    		z-index: 1;
			@include screen(med-small){
				font-size: 12px;
			}
			@include screen(small){
				font-size: 12px;
			}
		}
		p{
			font-family: 'Poppins-SemiBold';
			font-size: 16px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.18;
			letter-spacing: 0.17px;
			text-align: left;
			color: #623191;
			z-index: 1;
			@include screen(med-small){
				font-size: 12px;
			}
			@include screen(small){
				font-size: 12px;
			}
		}
	}
}
.footer-idea{
	h2,h5{
		@include screen(small){
			display: block;
		}
	}
	h5{
		@include screen(small){
			font-size: 16px;
		}
	}
	h2{
		@include screen(small){
			font-size: 28px;
		}
	}
}
.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 3333;

	.popup {
	  /*margin: 70px auto;*/
	  margin-left: auto;
	  padding: 20px;
	  background: #fff;
	  border-radius: 5px;
	  width: 35%;
	  position: relative;
	  transition: all 3s ease-in-out;
	  /*top: 10%;*/
	  top: 5%;
      transform: translate(-20%);
			@include screen(small){
				width: 100%;
      			transform: translate(0%);
      			height: 450px;
			}

	  h2 {
		  font-family: 'Poppins-Bold';
		  font-size: 17px;
		  font-weight: bold;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.42;
		  letter-spacing: normal;
		  text-align: left;
		  color: #ed1651;
		}
		p{
			font-family: Poppins;
			font-size: 16px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.13;
			letter-spacing: normal;
			text-align: left;
			color: #000000;
			margin-bottom: 0;
		}
		.close {
		  position: absolute;
		  top: 20px;
		  right: 30px;
		  transition: all 200ms;
		  font-size: 30px;
		  font-weight: bold;
		  text-decoration: none;
		  color: #333;
		  &:hover{
  			color: #06D85F;
		  }
		}
		.content {
		  max-height: 30%;
		  overflow: auto;
			@include screen(small){
		  max-height: 70%;
			overflow: scroll;
			}
		  .gform_wrapper{
		  	margin: 0;
		  	padding: 0;
		  	ul{
			  	li{
			  		margin: 0;
			  		label{
			  			display:none;
			  		}
			  		input{
			  			background: #dbdbdb;
			  			border: none;
			  			padding: 10px !important;
    					margin-bottom: 10px;
    					font-family: 'Poppins';
    					font-weight: 500;
    					select{
	    					font-family: 'Poppins';
	    					font-weight: 500;
	    					color: #202020;
    					}
			  			&::placeholder {
					  	  color: rgba(33,37,41,1);
						  opacity: 1; /* Firefox */
						  font-size: 14px;
						  font-family: 'Poppins';
						  font-weight: 500;
						}
						&::-ms-input-placeholder { /* Internet Explorer 10-11 */
						  font-size: 12px;
					  		color: rgba(33,37,41,1);
						}

						&::-ms-input-placeholder { /* Microsoft Edge */
						  font-size: 12px;
					  		color: rgba(33,37,41,1);
						}

			  		}
			  		
			  	}
		  	}
		  }

.gform_footer{
	input[type=submit]{
		background: #ed1651;
		border: none;
		font-family: 'Poppins-Medium';
		font-size: 16px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		/*padding: 10px 37px;*/
		max-width: calc(100% - 16px)!important;
		display: block;
		padding: 10px 0;
		width: 100%;
		text-align: center;
/*// 		padding: 7px ​20px;*/
			&:hover{
							background: transparent;
						    border: 1px solid #ed1651;
						    color: #ed1651;
						    display: block;
						}
	}
}




		}
	}
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.onloadpop{
	transition: 1;
    visibility: visible;
    opacity: 1;
}

/*leadership css start*/
.leadership-ct{
    align-items: center;
    padding: 5% 0;
    	@include screen(small){
			flex-direction: column-reverse;
		}
    h2{
    	font-size: 34px;
    	padding-bottom: 25px;
		@include screen(med-small){
			line-height: 1.2;

		}
    	@include screen(small){
    		padding-top: 20px;
    		padding-bottom: 10px !important;
    		line-height: 1;
    	}
    }
    p{
    	font-size: 16px;
    }
    h2,p{
    	max-width: 87%;
    	@include screen(small){
    		max-width: 100%;
    	}
    }

    .col{
    	@include screen(small){
    		padding: 0;
    	}
    	img{
    		@include screen(small){
	    		/*padding: 0 15px 20px 15px;*/
	    		padding: 0 0 20px 0;
	    	}
    	}
    }
}
.board-members-ct{
	flex-direction: column;
	padding: 45px 0;

	h2{
		font-family: 'Poppins-Bold';
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 0.89;
		letter-spacing: normal;
		text-align: center;
		color: #ed1651;
    	@include screen(small){
    		font-size: 26px;
		}
	}
	p{
		font-family: 'Poppins-Regular';
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		color: #000000;
    	@include screen(small){
    		padding-bottom: 0 !important;
    		font-size: 20px;
		}
	}
}
.members-ct{
	ul{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	    	@include screen(small){
	    		padding: 0 15px;
	    	}
		li{
			list-style: none;
			flex: 0 0 33.33%;
    		max-width: 33.33%;
    		padding: 0 7% 5% 0;
	    	@include screen(small){
	    		-ms-flex-preferred-size: 0;
			    flex-basis: 0;
			    -ms-flex-positive: 1;
			    flex-grow: 1;
			    max-width: 100%;
			    flex: 0 0 100%;
			    padding: 0;
	    	}
    		h3,p{
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 27px;
				  letter-spacing: normal;
				  text-align: left;
				  color: #000000;
    		}
    		h3{
    			font-family: 'Poppins-Bold';
				font-size: 20px;
				color: #ed1651;
				padding-top: 20px;
    		}
    		p{
    			font-family: 'Poppins-Regular';
				font-size: 18px;
				color: #000;
    		}
		}
	}
}
/*leadership css end*/

.approaches-ct{
	p,h5{
		padding-bottom: 5%;
	}
}
.model-school-ct{
	    padding: 5% 0;
	@include screen(small){
		padding: 0 15px;
	}
	h2{
    	font-family: 'Poppins-Bold';
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.22;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
		@include screen(small){
			font-size: 26px;
			width: 100%;
		}
	}
	p{
		font-family: 'Poppins-Regular';
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
	}

	.inner-sh-ct{
		border-top: solid 1px #ed1651;
		margin-top: 5%;
    	padding-top: 2%;
		h3{
			font-family: 'Poppins-SemiBold';
			font-size: 24px;
			font-weight: 600;
			font-stretch: normal;
			font-style: normal;
			line-height: 2;
			letter-spacing: normal;
			text-align: left;
			color: #542f87;
			@include screen(med-small){
				line-height: 1.5;
			}
			@include screen(small){
				font-size: 20px;
				line-height: 1.5;
			}
		}
		ul{
			margin: 0;
			padding: 0 15px;
			font-family: 'Poppins-Regular';
		    font-size: 18px;
		    font-weight: normal;
		    font-stretch: normal;
		    font-style: normal;
		    line-height: 1.5;
		    letter-spacing: normal;
		    text-align: left;
		    color: #000000;
		    li{
					padding-bottom: 15px;
				@include screen(small){
					padding-bottom: 15px;
				}
		    }
		}
		h4{
			font-family: 'Poppins-SemiBold';
			font-size: 18px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
			color: #ed1651;

		}
	}
}

.first-act{
	color: #fff;
	padding: 3% 0;
	@include screen(small){
		padding: 0;
	}
	.red-bg{
		background: #ed1651;
	}
	.purple-bg{
		background: #542f87;
	}
	h2{
		font-family: 'Poppins-SemiBold';
		font-size: 24px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		@include screen(small){
			font-size: 16px;
		}

	}
	ul.apporch-ul{
		font-family: 'Poppins-Regular';
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.31;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		@include screen(small){
			font-size: 12px;
		}
		li{
			padding-bottom: 20px;
			@include screen(small){
				padding-bottom: 10px;
				font-size: 8px;
			}
		}
	}
	.right-arrow-ct{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.right-arrow-ct, .left-arrow-ct, .up-arrow-ct, .down-arrow-ct{
	display: flex;
	align-items: center;
	justify-content: center;
}
.middle-ma-text{
	h3{
		text-align: center !important;
		@include screen(small){
			font-size: 12px !important;
		}
	}
}
.down-arrow-ct{
	    transform: rotate(90deg);
}
.up-arrow-ct{
	    transform: rotate(270deg);
}
.left-arrow-ct{
	    transform: rotate(180deg);
}



.lint-h{
	h2{
		line-height: 1;
			@include screen(small){
				line-height: 1.2;
			}
	}
}
.table-ct{
	.wt-50{
		width: 50%;
	}
	.wt-10{
		width: 10%;
	}
	.wt-33{
		width: 33.333%;
	}
	.wt-22{
		width: 22%;
	}
	.wt-32{
		width: 32%;
	}
	.wt-20{
		width: 20%;
	}
	.wt-26{
		width: 26%;
	}
	.wt-28{
		width: 28%;
	}
	.wt-40{
		width: 40%;
	}
	h3{
		font-family: 'Poppins-Bold';
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
		padding-bottom: 2%;
		padding-top: 30px;
			@include screen(small){
				padding: 0 15px;
				font-size: 24px;
				line-height: 1.2;
			}
	}
	h5{
		font-family: 'Poppins-Medium';
		font-size: 12px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
	}
	/*.table-image {
	  td, th {
	    vertical-align: middle;
	  }
	}*/
	.bgcolor{
		thead{
			tr{
				th{
					background: #542f87;
				    /*width: 50%;*/
				    border: solid #fff;	
				      font-family: 'Poppins-SemiBold';
					  font-size: 20px;
					  font-weight: 600;
					  font-stretch: normal;
					  font-style: normal;
					  line-height: 2.18;
					  letter-spacing: normal;
					  text-align: left;
					  color: #ffffff;
					  vertical-align: middle;
				}
			}
		}
		td, th{
			    border: 3px solid #fff;
			    background: #aae1ff;
			    font-size: 18px;
				  font-weight: 500;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 2;
				  letter-spacing: normal;
				  text-align: left;
				  color: #542f87;
		}
		td{
			  font-family: 'Poppins-Medium';
		}
		th,strong{
			  font-family: 'Poppins-Bold';
		}
	}
	.lft-bg-color{
		th{
			background: #542f87;
			color: #fff;
		}
	}
}
.red-bg-th{
	background: #ed1651 !important;
}
.white-bg-th{
	background: #fff !important;
}
.part-ct{
	padding: 100px 0;
	h3{
		font-family: 'Poppins-Bold';
		font-size: 28px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
	}
	p{
		font-family: 'Poppins-Regular';
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
	}
}

.rd-part-afrem{
	border-top: solid #ed1651 2px;
	padding-top: 75px;
	h2{
		font-family: 'Poppins-Bold';
		font-size: 36px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.33;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
	}
	h3{
		font-family: 'Poppins-Bold';
		font-size: 26px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.85;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
			@include screen(small){
				line-height: 1.2
			}
		span{
			font-family: 'Poppins-Regular';
		}
	}
	a{
		color:  #542f87;
		text-decoration: none;
		font-weight: bold;
		font-family: 'Poppins-Bold';

	}
	p{
		font-family: 'Poppins-Regular';
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.69;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		padding-bottom: 50px;
		span{
			 display: block;
  			 margin: 10px 0;
		}
	}
	.ulist{
		display: flex;
		ul{
			margin: 0 15% 0 0;
			padding: 0 0 25px 0;
			list-style: none;
			li{
				font-family: 'Poppins-Regular';
				font-size: 18px;
				font-weight: normal;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.11;
				letter-spacing: normal;
				text-align: left;
				color: #000000;
				padding-bottom: 10px;
			}
		}
	}
}




footer{
	background: #542f87;
	padding: 65px 0 45px 0;
	h2{
		font-family: 'Poppins-Regular';
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 2.67;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
	.first-row{
		display: flex;
		justify-content: space-between;
		@include screen(small){
			flex-direction: column;
		}
		ul{
			margin: 0;
			padding: 0;
			@include screen(small){
				margin-top: 20px;
			}
			li{
			list-style: none;
				  font-size: 15px;
				a{
				  font-family: 'Poppins-Regular';
				  font-size: 15px;
				  font-weight: normal;
				  font-stretch: normal;
				  font-style: normal;
				  line-height: 2.67;
				  letter-spacing: normal;
				  text-align: left;
				  color: #ffffff;
				  text-decoration: none;
				}
			}
		}
	}

	.second-row{
		display: flex;
		flex-direction: column;
		align-items: center;
		@include screen(small){
			align-items: flex-start;
		}
		h2{
			margin-left: -40px;
			@include screen(small){
				margin-left: 0;
				margin-top: 20px;
			}
		}
		.icon-ct{
			    display: flex;
    			align-items: center;

			a{
				padding-left: 10px;
				@include screen(small){
				padding-left: 0;
				padding-right: 10px;	
				}
				img{
					width: 95%;
				}
			}
		}
	}

	.third-row{
			@include screen(small){
				margin-top: 20px;
			}
		p,a{
			/*opacity: 0.4;*/
			font-family: 'Poppins-Regular';
			font-size: 16px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.63;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			padding: 0;
			margin: 0;
			text-decoration: none;
			@include screen(med-small){
				font-size: 14px;
			}
		}
		p{
			opacity: 0.4;
		}
	}
	.coppy-right{
		p,a{
			opacity: 0.4;
			font-family: 'Poppins-Regular';
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.5;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
		}
		a{
			text-align: center;
			text-decoration: none;
		}
	}
}
.hightlight-title{
	font-family: 'Poppins-Bold';
	font-size: 44px;
	color: #ed1651;
	line-height: 1.18;
	@include screen(small){
		font-size: 24px;
	}
}
.contact-us-left-section{
	@include screen(small){
		order: 2;
	}
	color: #000000;
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Poppins-Regular';
	a{
		color: #000000;
	}
	.titile-heading-thin{
		color: #000000;
		font-size: 18px;
		line-height: 1.5;
		font-family: 'Poppins-Regular';
	}
	.title-heading-higlight{
		color: #ed1651;
		font-size: 20px;
	}
	.icon-ct{
		a{
			margin-left: 20px;
			@include screen(med-small){
				margin-right: 15px;
				margin-left: 0;
			}
			@include screen(small){
				margin-right: 20px;
				margin-left: 0;
			}
		}
	}
	.contact-details-sub{
		a{
			display: block;
			@include screen(small){
			    word-break: break-word;
			}
		}
	}
	.contact-form{
		padding-bottom: 15px;
		padding-top: 15px;
		.gform_wrapper div.validation_error{
			display: none;
		}
		.gform_wrapper li.gfield.gfield_error{
			background: transparent;
			border: 0px;
		}
		.gform_wrapper textarea, .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
			border: 0px;
			color: #202020;
			font-size: 14px;
			line-height: 25px;
			background: #dbdbdb;
			padding: 9px 20px;
			&:focus{
				outline: none;
			}
		}
		.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]{
			background: #ed1651;
			color: #fff;
			font-size: 18px;
			font-family: 'Poppins-Regular';
			border: 0;
			padding: 10px 37px;
			border: 1px solid #ed1651;
		    -webkit-transition: 0.3s all ease;
		    transition: 0.3s ease all;
		     max-width: calc(100% - 16px)!important;
		     width: 100%;
		    &:hover{
		    	background: transparent;
			    border: 1px solid #ed1651;
			    color: #ed1651;
			    display: block;
				@include screen(small){
					margin-left: 0
				}
		    }
			@include screen(small){
				margin: 0 auto;
				/*margin-left: -15px;*/
				/*text-align: left !important;*/
			}
		}
		.gform_wrapper .gform_footer{
			margin: 0;
			@include screen(small){
				text-align: left;
			}
		}
		.gform_wrapper li.hidden_label input{
			margin-top: 0;
		}
	}
	.w-80{
		width: 80%;
		@include screen(med){
			width: 100%;
		}
		@include screen(small){
			width: 100%;
		}
	}
	.inner-left-cnt{
		@include screen(small){
			order: 2;
		}
	}
	.inner-right-cnt{
		@include screen(small){
			order: 1;
			margin-bottom: 70px;
		}
	}
}
.contact-us-right-section{
	padding-top: 140px;
	@include screen(small){
		order: 1;
		padding-top: 0;
	}
}
.download_partner_ship {
    font-family: 'Poppins-Medium';
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 0.09px;
    text-align: center;
    color: #ffffff !important;
    /* background: hsl(0, 0%, 90%); */
    background: #adadad;
    max-width: 206px;
    margin: 0;
    padding: 3px;
    display: none;
			@include screen(small){
				display: none;
			}
    a {
		color: #fff !important;
	}
}
#menu-main-menu  .current-menu-item a {
    color: #ed1651 !important;
}
#menu-footer-menu{
	text-transform: uppercase;
}
.gform_wrapper div.validation_error{
	display: none;
}
.i-button{
	position: fixed;
    top: 85%;
    right: 30px;
    transform: translateY(-85%);
    max-width: 60px;
    z-index: 1;
			@include screen(small){
			    top: auto;
			    transform: translateY(-85%);
			    max-width: 60px;
			    bottom: 30px;
			}
}
.mb-padd-pri{
	h2{
			@include screen(small){
				padding-top: 20px;
			}
	}
	ol{
			@include screen(small){
				padding-left: 15px !important;
			}
	}
}
.mo-show{
	display: none;
		@include screen(small){
			display: block;
			padding-bottom: 20px;
			padding-top: 20px;
		}
}
.mobile-ct-rig{
	justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	@include screen(med-small){
		    align-items: flex-start;
    }
	@include screen(small){
		align-items: flex-start;
	}
    h3{
		display: flex;
		align-items: baseline;
		justify-content: left;
		float: left;
		text-align: left;
		margin-right: 75px;
    }
}
.font-wt{
	@include screen(small){
		font-size: 18px;
	}
}
.blog-pg{
	.sty-ribban{
		bottom: 0;
		h2{
			@include screen(small){
				display: block;
				font-size: 24px;
			}
		}
	}
}
.blog-details-pg{
	h3{
		font-family: 'Poppins-SemiBold';
		font-size: 26px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.53;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
		    padding-bottom: 2%;
	}
	a{
		text-decoration: none;
	
	h2{
		font-family: 'Poppins-Bold';
		font-size: 25px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.4;
		letter-spacing: normal;
		text-align: left;
		color: #ed1651;
		padding: 15px 0;
	}
	p{
		font-family: 'Poppins-Regular';
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #000000;
		padding-bottom: 15%;
	}
	}
}

#seeMore{
	background: #542f87;
	color: #fff;
	font-family: 'Poppins-Medium';
    font-size: 17px;
    line-height: 31px;
    border: none;
    font-weight: normal;
    padding: 5px 15px;
    margin-bottom: 15px;
}
.purpple-bg{
	background: #542f87;
	padding: 25px 0;
	margin: 5% 0 3% 0;
			@include screen(small){
				margin: 0 0 8% 0;
			}
	h3{
		font-family: 'Poppins-SemiBold';
		font-size: 26px;
		color: #fff;
	}
	.card-image{
a{text-decoration: none;
		h2{
			font-family: 'Poppins-Bold';
			font-size: 20px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.4;
			letter-spacing: normal;
			text-align: left;
			color: #aae1ff;
			padding: 15px 0;
		}
		p{
			font-family: 'Poppins-Regular';
			font-size: 13px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.5;
			letter-spacing: normal;
			text-align: left;
			color: #fff;
		}
	}
	}
}
.blog-article{
	img{
			@include screen(small){
				padding-bottom:0 !important;
				display: block;
				margin: 0 auto;
			}
	}
	h2{
		max-width: 100%;
		padding-bottom: 35px;
			@include screen(small){
				font-size: 24px;
				padding: 0 15px;
			}
	}
	.Author{
		display: flex;
			@include screen(small){
				justify-content: space-between;
				margin-top: 25px;
				max-width: 520px;
			    margin-left: auto;
			    margin-right: auto;
			}
		p{
			display: flex;
			flex-direction: column;
			margin-right: 15%;
			  font-family: 'Poppins-Regular';
			  font-size: 16px;
			  font-weight: normal;
			  font-stretch: normal;
			  font-style: normal;
			  line-height: 1.46;
			  letter-spacing: normal;
			  text-align: left;
			  color: #000000;
			  span{
			  	font-family: 'Poppins-SemiBold';
			  	color: #542f87;
			  }
			@include screen(small){
				margin-right: 0;
				padding-bottom: 0 !important
			}
		}
	}
}
.blog-article-dest{
	padding-bottom: 30px;
		@include screen(small){
			padding-bottom: 15px;
		}
	p{
		font-family: 'Poppins-Regular';
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #707070;
		@include screen(small){
				font-size: 14px;
		}
			iframe {
			    margin: 25px auto;
			    display: block;
				@include screen(small){
					width: 100%;
				}
			}
			a{
				color: #ed1651;
				font-family: 'Poppins-Regular';
			}
	}
	h2,h4{
		font-family: 'Poppins-Bold';
		font-size: 24px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
			@include screen(small){
				font-size: 20px;
			}
	}
	h5{
		font-family: 'Poppins-Regular';
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
		@include screen(small){
				font-size: 14px;
			}
		span{
			color: #ed1651;
		}
	}
}
.back-btn{
	display: flex;
	padding-left: 15px;
	text-decoration: none !important;
			@include screen(small){
				margin-top: 25px;
    			margin-bottom: 10px;
			}
	img{
		margin-right: 10px;
		width: 30px;
	}
	p{
		@include screen(small){
			padding-bottom: 0 !important;
		}
	}
}
.tags-post-ct{
	margin-bottom: 15px;
	span {
	    border: solid 2px #ed1651;
	    margin: 0 10px 10px 0;
	    padding: 5px 20px;
    	display: inline-block;
	    a{
	    	text-decoration: none;
	    	  font-family: 'Poppins-Medium';
		  font-size: 15px;
		  font-weight: 500;
		  font-stretch: normal;
		  font-style: normal;
		  line-height: 1.53;
		  letter-spacing: normal;
		  text-align: center;
		  color: #ed1651;
	    }
	}
}
.share-on-right{
	display: flex;
    justify-content: flex-end;
		@include screen(small){
			justify-content: flex-start;
		}
		
}
.share-on{
	  font-family: 'Poppins-Regular';
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  h3{
  font-size: 26px;

  }
  .social-icon-share{
  	margin-bottom: 20px;
  	a{
  		margin-right: 15px;
  		img{
  			width: 32px;
  		}
  	}
  }
}
.dots-ct{
	bottom: -6px !important;
}
form#commentform{
	display: flex;
    flex-wrap: wrap;
    max-width: 640px;
		@include screen(small){
			padding: 0 15px;
			max-width: 290px;
		}
	.comment-notes, .comment-form-cookies-consent{
		display: none;
	}
	p.comment-form-author{
		order: 1;
		width: 40%;
		@include screen(small){
			width: 100%;
		}
		input{
			width: 94%;
			background: #dcdcdc;
			border: none;
			height: 40px;
			padding: 10px;
			@include screen(small){
				width: 100%;
			}
		}
		span.required {
		    display: none;
		}
	}
	p.comment-form-email{
		order: 2;
		    width: 58%;
			@include screen(small){
				width: 100%;
			}
		input{
			background: #dcdcdc;
			border: none;
			height: 40px;
			padding: 10px;
			width: 97%;
			@include screen(small){
				width: 100%;
			}
		}
		span.required {
		    display: none;
		}
	}
	p.comment-form-comment{
		order: 3;
		max-width: 98%;
    	width: 98%;
    		@include screen(small){
				width: 100%;
				max-width: 100%;
    		}
		textarea{
			background: #dcdcdc;
			border: none;
			padding: 10px;
			max-width: 98%;
    		width: 98%;
			@include screen(small){
				width: 100%;
				max-width: 100%;
    		}
		}
	}
	p.form-submit{
		order: 4;
		input{
			font-family: Poppins-Medium;
		font-size: 14px;
		font-weight: 500;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		background: #ed1651;
		border: none;
		padding: 10px 15px;
		}
	}
}
.crunchify-text{
	h5{
		font-family: Poppins-SemiBold;
		font-size: 24px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 2;
		letter-spacing: normal;
		text-align: left;
		color: #542f87;
		@include screen(small){
				padding: 0 15px;
				line-height: 1;
			}
	}
}
div#comments{

	// This is code added by Adwait 

	#comment-status{
		color: #FF0000;
		padding-left: 0px;
	}
	

	// 


	ol.comment-list{
		max-width: 60%;
		@include screen(small){
			max-width: 100%;
		}
		footer {
		    background: transparent;
		    padding: 0;
		}
	}
}
.desk-hd{
	display: block;
		@include screen(small){
			display: none;
		}
}
.mobile-hd{
	display: none;
		@include screen(small){
			display: block;
		}
}
div#comments ol.comment-list{
	max-width: 100% !important
}
div#respond{
	padding-left: 15px;
	small{
    		color: #ed1651;
		@include screen(small){
			font-size: 17px;
    		color: #ed1651;
    		padding-left: 15px;
		}
	}
}
.leave-commt-style{
	article.comment-body {
		    background: #dcdcdc;
		    margin-bottom: 15px;
		    border-radius: 5px;
			@include screen(small){
				margin-right: 10px;
			}
		}
		.comment-author.vcard{
			img{
				border-radius: 50px;
    			margin: 10px;
			}
			b.fn{
				font-family: 'Poppins-SemiBold';
				font-size: 18px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 2;
				letter-spacing: normal;
				text-align: left;
				color: #542f87;
				@include screen(small){
					font-size: 16px;
				}
			}
		}
		.comment-metadata {
		    margin: 0 10px;
		    a{
				text-decoration: none;
				font-family: 'Poppins-Medium';
				font-size: 15px;
				font-weight: 500;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.53;
				letter-spacing: normal;
				text-align: center;
				color: #ed1651;
		    }
		}
		.comment-content {
		    margin: 0 10px;
		}
		.reply{
			a{
				font-family: 'Poppins-SemiBold';
				font-size: 15px;
				font-weight: 600;
				font-stretch: normal;
				font-style: normal;
				line-height: 2;
				letter-spacing: normal;
				text-align: left;
				color: #542f87;
				margin: 0 10px 10px;
			}
		}
}
.tag_listing_page{
	#tag_listing_article_header{
		padding: 8px 0px;
		font-size: 30px;
	}
	h2{
		font-size: 25px;
	}
	.blog-hd{
		padding: 20px;
			@include screen(small){
				padding: 0 !important
			}
		a{
			text-decoration: none;
			p{
				@include screen(small){
					padding-bottom: 20px !important
				}
			}
			h2,p{
				@include screen(small){
					padding: 20px;
				}
			}
			h2{
				@include screen(small){
					padding-bottom: 0 !important
				}
			}
			p{
				@include screen(small){
					padding-top: 0 !important
				}
			}
		}
	}
}

.mobile-padd{
	@include screen(small){
		padding: 0;
	}

	h2,p{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}

.mb-space{
	.container-fluid{
		@include screen(small){
			padding: 0;
			margin-top: 20px;
		}
	}
}
.bg-landing{
	background: url(./assets/images/landing-bg1.jpg);
    background-size: 100% 100%;
    margin: 0;
    min-height: 526px;
    margin-bottom: 15px;
		@include screen(small){
			padding-bottom: 20px;
		}
    .headtag{
    	text-decoration: none;
    	pointer-events: none;
        cursor: default;
        background: #ed1651;
        display: block;
        /*margin-left: -15px;*/
        max-width: 520px;
        padding: 15px 15px 3px 15px;
        margin-bottom: 15px;
        &:first-child{
        	margin-top:10%;
			@include screen(small){
				margin-right: auto;
				margin-top: 0;
			}
		}
			@include screen(small){
				pointer-events: visible;
        		cursor: pointer;
			}
		h2{
			font-family: 'Poppins-Bold';
			font-size: 24px;
			font-weight: bold;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.27;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
				@include screen(small){
					font-size: 22px;
				}
		}
		h3{
			font-family: 'Poppins-Medium';
			font-size: 18px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.22;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			margin-bottom: 0;
		}
		p{
			font-family: 'Poppins-ExtraLight';
			font-size: 14px;
			font-weight: 200;
			font-stretch: normal;
			font-style: normal;
			line-height: 2.14;
			letter-spacing: normal;
			text-align: left;
			color: #ffffff;
			display: flex;
    		justify-content: space-between;
				@include screen(small){
					line-height: 1.54;
					margin-top: 10px;
	    		}
	    		img{
					@include screen(small){
	    			    -ms-transform: rotate(90deg);
    					transform: rotate(90deg);
    				}
	    		}
		}
    }

    a.gotohome{
		background: #542f87;
		color: #fff;
		padding: 15px 20px;
		margin-top: 4%;
		display: inline-block;
		text-decoration: none;
		-webkit-transition: 0.3s all ease;
    	transition: 0.3s ease all;
		/*border: solid 1px #542f87;*/
		&:hover{
			/*border: solid 1px #542f87;*/
		    background: #e0e0e0;
		    color: #542f87;
		    
		}
    }
	.submit-btn{
		.landform{
			padding: 0 0 1px 15px;
			background: #fff;
			border-radius: 5px;
			.gform_body{
				ul{
					li{
						padding-right: 0;
						margin-top: 20px;    max-width: calc(100% - 16px)!important;
						&:nth-child(1){
							label{
								font-family: 'Poppins-SemiBold';
								font-size: 18px;
								font-weight: 600;
								font-stretch: normal;
								font-style: normal;
								line-height: 1.06;
								letter-spacing: normal;
								text-align: center;
								color: #542f87;
								display: block;
								padding: 15px 0 10px 0;
								span{
									display: none;
								}
							}
						}
						select{
							background: #dbdbdb;
						    border: none;
						    padding: 8px 10px;
						    background: url('./assets/images/br_down.png') no-repeat right #ddd;
						    -webkit-appearance: none;
						    background-position-x: 97%;
						    background-size: 11px;
						    border-radius:0;
						    &:focus{
								outline:none;
							}
						}
						label{
							display: none;
						}
						span{
							input{
								background: #dbdbdb;
								border: none;
								padding: 10px;
							}
								label{
									display: none;
								}
						}
						input{
							background: #dbdbdb;
							border: none;
							padding: 10px !important;
							height: 40px;
							margin-top: 0;
							&:focus{
								outline:none;
							}

							&::placeholder {
							    color:#202020;
							}
						}

					.validation_message{
						display: none;
					}

					}
					li.gfield.gfield_error{
						border: none;
						background: none;
						margin-bottom: 0;
						padding-bottom: 0;
    					padding-top: 0;
    					select{
   							 border: 1px solid #ff0017;
    					}
					}
					/*li.gfield_error{
						border: 1px solid #ff0017;
					}*/
				}



				li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
   							 border: 1px solid #ff0017;
				}
			}
			.gform_wrapper .gform_footer{
				padding: 0;
				margin: 30px ​0 10px;
				clear: both;
				width: 100%;
				padding-right: 15px;
				input{
					background: #ed1651;
					font-family: "Poppins-Regular";
					font-size: 16px;
					font-weight: bold;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.36;
					letter-spacing: normal;
					text-align: right;
					color: #ffffff;
					width: 100%;
				    text-align: center;
				    padding: 15px 0;
				    border: none;
    				margin-bottom: 15px;
    				border:1px solid #ed1651;
    				-webkit-transition: 0.3s all ease;
    				transition: 0.3s ease all;
    				&:hover{
    					background:transparent;
    					border:1px solid #ed1651;
    					color: #ed1651;
    					display: block;
    					
    				}
				}
			}

			.gform_footer{
				.validation_error {
				    display: block !important;
				    border: none !important;
				    margin-bottom: 0 !important;
				    padding-top: 0 !important;
				    color: #e94150 !important;
				}
			}
		}
	}
}
@media only screen and (min-width: 641px){
.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: calc(100% - 1px) !important;
}
}

div#gform_wrapper_3 {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 375px) {
	.work-ct .bg-path:before{
		right: 30px;
	}
	.work-ct .bg-path:after {
	    left: 30px;
	}
}

/*// scroll down arrow with header animation*/

.back_to_top{
  position: fixed;
  bottom: 30px;
  right: 40px;
  text-align: center;
  font-size: 12px;
  z-index: 1000;
}

#btnscroll {
  display: block;
  background: #532f87;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: #532f87;
  .toptxt{
	  display: block;
  }
	@include screen(small){
		bottom: 5px;
		right: 40px;
	}
  &:before {
	  /*content: "\f077";*/
	  content: "\2963";
	  /*font-family: FontAwesome;*/
	  font-weight: normal;
	  font-style: normal;
	  font-size: 1.5em;
	  line-height: 40px;
	  color: #fff;
	}
	&:hover {
	  cursor: pointer;
	  background: #333;
	  text-decoration: none;
	}
	&:active {
	  background: #555;
	  text-decoration: none;
	}
}
#btnscroll.show {
  opacity: 1;
  visibility: visible;
}
.animetnav {
    position: fixed;
    z-index: 2222222;
    width: 100%;
    background: rgba(255,255,255, 0.5);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: 0 !important;
    .navbar-brand{
    	img{
    		width: 70px;
    	}
    }
}
/* Styles for the content section */
.right-arr{
	display: flex;
	align-items: center;
	justify-content: center;
	span{
		font-size: 90px;
		@include screen(small){
			font-size: 70px;
	    	transform: rotate(90deg);
	    }

	}
}
#approchnav{
	ul{
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
    	justify-content: space-between;
		li{
			a{
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				@include screen(small){
					align-items: flex-start;
					font-size: 18px;
    				padding: 10px 0 !important;
				}
				img{
					height: 100px;
					/*padding-bottom: 20px;*/
					max-width: 30%;
				}
			}
			&:after{
				background: transparent;
			}
		}
	}
}

.contact-us-left-section, .sticky-form-ct{

	#gform_wrapper_4, #gform_wrapper_5, #gform_wrapper_7, #gform_wrapper_8 {
		margin: 0;
		padding: 0;
		.gform_body{
				ul{
					li{
						padding-right: 0;
						margin-top: 20px;    max-width: calc(100% - 16px)!important;
						&:nth-child(1){
							label{
								font-family: 'Poppins-SemiBold';
								font-size: 18px;
								font-weight: 600;
								font-stretch: normal;
								font-style: normal;
								line-height: 1.06;
								letter-spacing: normal;
								text-align: center;
								color: #542f87;
								display: block;
								padding: 15px 0 10px 0;
								span{
									display: none;
								}
							}
						}
						select{
							background: #dbdbdb;
						    border: none;
						    padding: 9px 10px;
						    background: url('./assets/images/br_down.png') no-repeat right #ddd;
						    -webkit-appearance: none;
						    background-position-x: 97%;background-size: 11px;
						    border-radius:0;
						    font-size: 14px;
						    line-height: 26px;
						    &:focus{
								outline:none;
							}
						}
						label{
							display: none;
						}
						span{
							input{
								background: #dbdbdb;
								border: none;
								padding: 10px;
							}
								label{
									display: none;
								}
						}
						input{
							background: #dbdbdb;
							border: none;
							padding: 9px 10px !important;
							&:focus{
								outline:none;
							}

							&::placeholder {
							    color:#202020;
							}
						}

					.validation_message{
						display: none;
					}

					}
					li.gfield.gfield_error{
						border: none;
						background: none;
						margin-bottom: 0;
						padding-bottom: 0;
    					padding-top: 0;
    					select{
   							 border: 1px solid #ff0017;
    					}
					}
					/*li.gfield_error{
						border: 1px solid #ff0017;
					}*/
				}



				li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
   							 border: 1px solid #ff0017;
				}
			}
			.gform_wrapper .gform_footer{
				padding: 0;
				margin: 30px ​0 10px;
				clear: both;
				width: 100%;
				padding-right: 15px;
				input{
					background: #ed1651;
					font-family: "Poppins-Regular";
					font-size: 16px;
					font-weight: bold;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.36;
					letter-spacing: normal;
					text-align: right;
					color: #ffffff;
					width: 100%;
				    text-align: center;
				    padding: 15px 0;
				    border: none;
    				margin-bottom: 15px;
    				border:1px solid #ed1651;
    				-webkit-transition: 0.3s all ease;
    				transition: 0.3s ease all;
    				&:hover{
    					background:transparent;
    					border:1px solid #ed1651;
    					color: #ed1651;
    					display: block;
    					
    				}
				}
			}

			.gform_footer{
				.validation_error {
				    display: block !important;
				    border: none !important;
				    margin-bottom: 0 !important;
				    padding-top: 0 !important;
				    color: #e94150 !important;
				}
			}
	}
}
.sticky-form-ct #gform_wrapper_5 .gform_body ul li:nth-child(1) label,
.sticky-form-ct #gform_wrapper_8 .gform_body ul li:nth-child(1) label{
	display: none;
}
.topmenu ul .dropdownar .sub-menu li a {
    color: #212121 !important;
}
#menu-main-menu .current-menu-item .sub-menu li a{
    color: #212121 !important;
}
@media only screen and (max-width: 641px){
	.dropdownar{
		width: 85% !important;
	}
}
#gform_wrapper_5, #gform_wrapper_8 {
	.ginput_container_select{
		margin-bottom: 10px;
	}
	.gform_body ul li.gfield input{
		padding: 13px !important;
		margin-bottom: 0px;
	}
}

