@charset "UTF-8";
/*!
Theme Name: Acres Foundation
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: acres-foundation
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Acres Foundation is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*!
 * normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css
 */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Black.woff2") format("woff2"), url("./assets/fonts/Poppins-Black.woff") format("woff"), url("./assets/fonts/Poppins-Black.svg#Poppins-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-BlackItalic.woff2") format("woff2"), url("./assets/fonts/Poppins-BlackItalic.woff") format("woff"), url("./assets/fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2"), url("./assets/fonts/Poppins-Bold.woff") format("woff"), url("./assets/fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBold.woff2") format("woff2"), url("./assets/fonts/Poppins-ExtraBold.woff") format("woff"), url("./assets/fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("./assets/fonts/Poppins-ExtraLight.woff2") format("woff2"), url("./assets/fonts/Poppins-ExtraLight.woff") format("woff"), url("./assets/fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.woff2") format("woff2"), url("./assets/fonts/Poppins-Light.woff") format("woff"), url("./assets/fonts/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2"), url("./assets/fonts/Poppins-Medium.woff") format("woff"), url("./assets/fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2"), url("./assets/fonts/Poppins-Regular.woff") format("woff"), url("./assets/fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2"), url("./assets/fonts/Poppins-SemiBold.woff") format("woff"), url("./assets/fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Thin.woff2") format("woff2"), url("./assets/fonts/Poppins-Thin.woff") format("woff"), url("./assets/fonts/Poppins-Thin.svg#Poppins-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/*@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?f4wjas');
  src:  url('./assets/fonts/icomoon.eot?f4wjas#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?f4wjas') format('truetype'),
    url('./assets/fonts/icomoon.woff?f4wjas') format('woff'),
    url('./assets/fonts/icomoon.svg?f4wjas#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}*/
.has-tooltip {
  position: relative;
  overflow: visible;
}
.has-tooltip:hover .tooltip, .has-tooltip:focus .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
  transition: visibility 0s linear 0s, opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
}

.tooltip {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 14px;
  min-width: 10em;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-shadow: 0 0.05em 0.15em rgba(255, 255, 255, 0.1);
}

.tooltip-with-border {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  font-size: 14px;
  font-weight: 300;
  width: 234px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 0.75em;
  background-color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 0.75em);
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in 0s, transform 0.2s ease-in 0s;
  pointer-events: none;
  border: 0.05em solid #999;
  color: #333;
}
.tooltip-with-border::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 0.7em solid white;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  margin-left: -0.7em;
}
.tooltip-with-border::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 0.75em solid #999;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  margin-left: -0.75em;
}

.tooltip-without-border {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  bottom: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  font-size: 14px;
  font-weight: 300;
  width: 234px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 0.5em;
  background-color: #fff;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 0.5em);
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in 0s, transform 0.2s ease-in 0s;
  pointer-events: none;
  border: 0 solid transparent;
  color: #fff;
}
.tooltip-without-border::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 0.5em solid #fff;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  margin-left: -0.5em;
}
.tooltip-without-border::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  margin-left: -0.5em;
}

.btn-addto-round {
  border-radius: 18px;
  color: #2755A5;
  border: 1px solid #2755A5;
  display: inline-block;
  font-family: "BentonSansCond Medium";
  font-size: 12px;
  text-align: center;
  line-height: 1;
  padding: 11px 16px;
  vertical-align: super;
}
@media screen and (max-width: 767px) {
  .btn-addto-round {
    padding: 11px 7px;
    font-size: 11px;
  }
}
.btn-addto-round.red-color {
  border: 1px solid #AF1055;
}
.btn-addto-round.red-color:hover {
  border: 1px solid #000;
  color: #000 !important;
}
.btn-addto-round.color-white {
  border: 1px solid #fff;
}
.btn-addto-round.color-white:hover {
  border: 1px solid #000;
  color: #000 !important;
}
.btn-addto-round:hover {
  border: 1px solid #000;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

/*nothing below this point is needed*/
/* #Navigation
================================================== */
.start-header {
  /*opacity: 1;
  transform: translateY(0);
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);*/
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  /*position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;*/
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  padding: 0;
  align-items: flex-end;
}

.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  height: auto;
  width: 120px;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #ed1651 !important;
}

.nav-item.active .nav-link {
  color: #ed1651 !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: #8167a9;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:last-child:after {
  background: none;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
@media screen and (max-width: 768px) {
  .nav-item {
    font-size: 13px;
  }
}

.topmenu ul {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  width: 75%;
  align-items: baseline;
}
@media screen and (max-width: 1024px) {
  .topmenu ul {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .topmenu ul {
    max-width: 90%;
    width: 90%;
  }
}
.topmenu ul li a {
  text-transform: uppercase;
}
.topmenu ul li a h2 {
  font-family: "Poppins-Medium";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: 0.09px;
  text-align: center;
  color: #ffffff;
  /*background: hsl(0, 0%, 90%);*/
  background: #adadad;
  max-width: 206px;
  margin: 0;
  padding: 13px;
}
.topmenu ul .menu-item-has-children {
  position: static;
  padding: 0 22px;
}
@media screen and (max-width: 767px) {
  .topmenu ul .menu-item-has-children {
    padding: 0;
    position: relative;
  }
}
.topmenu ul .menu-item-has-children .sub-menu {
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
  width: auto;
  max-width: 100%;
  display: none;
  position: absolute;
  z-index: 22;
}
@media screen and (max-width: 767px) {
  .topmenu ul .menu-item-has-children .sub-menu {
    position: unset;
  }
}
.topmenu ul .menu-item-has-children .sub-menu li {
  font-size: 14px;
  width: max-content;
  width: -moz-max-content;
}
@media screen and (max-width: 767px) {
  .topmenu ul .menu-item-has-children .sub-menu li {
    font-size: 13px;
  }
}
.topmenu ul .menu-item-has-children .sub-menu li:hover {
  border: none;
}
.topmenu ul .menu-item-has-children .sub-menu li:after {
  background: transparent;
}
.topmenu ul .menu-item-has-children .sub-menu li a {
  color: #212121 !important;
}

.topmenu ul .menu-item-has-children:hover > ul,
.topmenu ul .menu-item-has-children:active > ul {
  display: block;
  background: #fff;
  padding: 10px;
  border-radius: 6px;
}

.menu-item-has-children:after {
  background: transparent !important;
}
@media screen and (max-width: 767px) {
  .menu-item-has-children:before {
    content: "";
    background: url("./assets/images/br_down.png") no-repeat !important;
    font-size: 18px;
    color: #000;
    padding-left: 10px;
    width: 20px;
    height: 20px;
    background-size: 13px !important;
    position: absolute;
    right: -30px;
    cursor: pointer;
    top: 6px;
  }
}
.menu-item-has-children a {
  position: relative;
}
.menu-item-has-children a:after {
  content: "";
  background: url("./assets/images/br_down.png") no-repeat !important;
  font-size: 18px;
  color: #000;
  padding-left: 10px;
  width: 20px;
  height: 20px;
  background-size: 13px !important;
  position: absolute;
  right: -30px;
  top: 10px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .menu-item-has-children a:after {
    top: 6px;
    content: none;
  }
}
.menu-item-has-children:hover .sub-menu li a:after {
  content: none;
}

.mob-down {
  width: 100%;
  display: none;
}
.mob-down h2 {
  background: #542f87;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: 0.09px;
  text-align: center;
  color: #ffffff;
  padding: 15px 0;
  margin: 0;
}

.max-width-ct {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .max-width-ct nav {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .top-slider {
    margin-top: 5%;
    padding-left: 0;
    padding-right: 0;
  }
}
.top-slider .sty-ribban {
  background: #e93f4d;
  display: inline-block;
  position: absolute;
  left: 15px;
  bottom: 6%;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .top-slider .sty-ribban {
    bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .top-slider .sty-ribban {
    position: static;
    width: 100%;
  }
}
.top-slider .sty-ribban h2 {
  font-family: "Poppins-Bold";
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .top-slider .sty-ribban h2 {
    /*font-size: 1.5rem;*/
    display: none;
  }
}
.top-slider .sty-ribban p {
  font-family: "Poppins-Medium";
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.29;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .top-slider .sty-ribban p {
    line-height: 1.5;
  }
}
.top-slider .i-button {
  position: absolute;
  right: 0;
  bottom: 1%;
  max-width: 159px;
}
@media screen and (max-width: 767px) {
  .top-slider .i-button {
    bottom: 24%;
    max-width: 100px;
  }
}

.comman-cls h5 {
  font-family: "Poppins-Medium";
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
}
.comman-cls h2 {
  font-family: "Poppins-Bold";
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ed1651;
  margin: 0;
  padding: 0;
}
.comman-cls p {
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .comman-cls p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .comman-cls p:last-child {
    padding-bottom: 40px;
  }
}

.new-idea {
  align-items: center;
  padding: 10% 0 5% 0;
}
.new-idea h2, .new-idea p, .new-idea h5 {
  width: 94%;
}
.new-idea h2 {
  padding: 0 0 10% 0;
}
@media screen and (max-width: 768px) {
  .new-idea h2 {
    line-height: 1;
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .new-idea h2, .new-idea h5 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .new-idea p {
    padding-bottom: 20px;
  }
}

.education-ct {
  padding: 5% 0 10% 0;
}
.education-ct h5, .education-ct h2 {
  text-align: center;
}
.education-ct h2 {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .education-ct h2 {
    font-size: 24px;
    padding: 0px;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .education-ct h5 {
    font-size: 16px;
    padding: 0px;
    text-align: left;
  }
}
.education-ct .col {
  background: #a2a2a2;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  border: solid 10px #fff;
  padding: 15px;
}
.education-ct .col h3 {
  font-family: "Poppins-Bold";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.55px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 20%;
}
@media screen and (max-width: 1024px) {
  .education-ct .col h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .education-ct .col h3 {
    font-size: 14px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .education-ct .col h3 {
    padding-bottom: 10%;
  }
}
.education-ct .col p {
  font-family: "Poppins-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: 0.34px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 0;
}

.vision-ct {
  background: #542f87;
  padding: 4% 0;
}
.vision-ct h2 {
  font-family: "Poppins-Bold";
  font-size: 42px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.84px;
  text-align: center;
  color: #aae1ff;
}
@media screen and (max-width: 767px) {
  .vision-ct h2 {
    font-size: 28px;
    padding-bottom: 15px;
  }
}
.vision-ct .blockqute-ct {
  display: flex;
  max-width: 52%;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .vision-ct .blockqute-ct {
    max-width: 82%;
  }
}
@media screen and (max-width: 767px) {
  .vision-ct .blockqute-ct {
    flex-direction: column;
    max-width: 90%;
  }
}
.vision-ct .blockqute-ct p {
  font-family: "Poppins-Medium";
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 15px;
}
@media screen and (max-width: 767px) {
  .vision-ct .blockqute-ct p {
    font-size: 16px;
  }
}
.vision-ct .blockqute-ct img {
  width: 70px;
}
@media screen and (max-width: 767px) {
  .vision-ct .blockqute-ct img {
    width: 40px;
  }
}
@media screen and (max-width: 767px) {
  .vision-ct .blockqute-ct img:first-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .vision-ct .blockqute-ct img:last-child {
    margin-left: auto;
  }
}

.work-ct {
  background: #efefef;
  padding: 5% 0 2% 0;
}
.work-ct h5, .work-ct h2, .work-ct h4 {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .work-ct h5 {
    font-size: 20px;
    padding-top: 25px;
  }
}
@media screen and (max-width: 767px) {
  .work-ct h2 {
    font-size: 22px;
    max-width: 90%;
    margin: 0 auto;
  }
}
.work-ct h4 {
  max-width: 60%;
  margin: 0 auto;
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .work-ct h4 {
    max-width: 85%;
  }
}
@media screen and (max-width: 767px) {
  .work-ct h4 {
    display: none;
  }
}
.work-ct .bg-path {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 220px;
  margin-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .work-ct .bg-path {
    min-height: 180px;
  }
}
@media screen and (max-width: 767px) {
  .work-ct .bg-path {
    margin-top: 10%;
    min-height: 190px;
    /*justify-content: flex-end;*/
    justify-content: center;
  }
}
.work-ct .bg-path:after, .work-ct .bg-path:before {
  background: url("./assets/images/Path.svg") no-repeat;
  content: "";
  position: absolute;
  /*border: solid;*/
  top: 0;
  width: 100px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .work-ct .bg-path:after, .work-ct .bg-path:before {
    height: 100%;
    background-size: contain;
  }
}
@media screen and (max-width: 767px) {
  .work-ct .bg-path:after, .work-ct .bg-path:before {
    width: 80px;
    background-size: 100%;
  }
}
.work-ct .bg-path:after {
  left: 10px;
}
.work-ct .bg-path:before {
  right: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.work-ct .bg-path h2 {
  font-family: "Poppins-Bold";
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.18px;
  text-align: center;
  color: #623191;
  border-bottom: solid 2px #ee2250;
  padding-bottom: 10px;
  margin-bottom: 10px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .work-ct .bg-path h2 {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .work-ct .bg-path h2 {
    font-size: 12px;
  }
}
.work-ct .bg-path p {
  font-family: "Poppins-SemiBold";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: 0.17px;
  text-align: left;
  color: #623191;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .work-ct .bg-path p {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .work-ct .bg-path p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .footer-idea h2, .footer-idea h5 {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .footer-idea h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .footer-idea h2 {
    font-size: 28px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 3333;
}
.overlay .popup {
  /*margin: 70px auto;*/
  margin-left: auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 35%;
  position: relative;
  transition: all 3s ease-in-out;
  /*top: 10%;*/
  top: 5%;
  transform: translate(-20%);
}
@media screen and (max-width: 767px) {
  .overlay .popup {
    width: 100%;
    transform: translate(0%);
    height: 450px;
  }
}
.overlay .popup h2 {
  font-family: "Poppins-Bold";
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #ed1651;
}
.overlay .popup p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 0;
}
.overlay .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.overlay .popup .close:hover {
  color: #06D85F;
}
.overlay .popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .overlay .popup .content {
    max-height: 70%;
    overflow: scroll;
  }
}
.overlay .popup .content .gform_wrapper {
  margin: 0;
  padding: 0;
}
.overlay .popup .content .gform_wrapper ul li {
  margin: 0;
}
.overlay .popup .content .gform_wrapper ul li label {
  display: none;
}
.overlay .popup .content .gform_wrapper ul li input {
  background: #dbdbdb;
  border: none;
  padding: 10px !important;
  margin-bottom: 10px;
  font-family: "Poppins";
  font-weight: 500;
}
.overlay .popup .content .gform_wrapper ul li input select {
  font-family: "Poppins";
  font-weight: 500;
  color: #202020;
}
.overlay .popup .content .gform_wrapper ul li input::placeholder {
  color: #212529;
  opacity: 1;
  /* Firefox */
  font-size: 14px;
  font-family: "Poppins";
  font-weight: 500;
}
.overlay .popup .content .gform_wrapper ul li input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px;
  color: #212529;
}
.overlay .popup .content .gform_wrapper ul li input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 12px;
  color: #212529;
}
.overlay .popup .content .gform_footer input[type=submit] {
  background: #ed1651;
  border: none;
  font-family: "Poppins-Medium";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  /*padding: 10px 37px;*/
  max-width: calc(100% - 16px) !important;
  display: block;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  /*// 		padding: 7px ​20px;*/
}
.overlay .popup .content .gform_footer input[type=submit]:hover {
  background: transparent;
  border: 1px solid #ed1651;
  color: #ed1651;
  display: block;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.onloadpop {
  transition: 1;
  visibility: visible;
  opacity: 1;
}

/*leadership css start*/
.leadership-ct {
  align-items: center;
  padding: 5% 0;
}
@media screen and (max-width: 767px) {
  .leadership-ct {
    flex-direction: column-reverse;
  }
}
.leadership-ct h2 {
  font-size: 34px;
  padding-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .leadership-ct h2 {
    line-height: 1.2;
  }
}
@media screen and (max-width: 767px) {
  .leadership-ct h2 {
    padding-top: 20px;
    padding-bottom: 10px !important;
    line-height: 1;
  }
}
.leadership-ct p {
  font-size: 16px;
}
.leadership-ct h2, .leadership-ct p {
  max-width: 87%;
}
@media screen and (max-width: 767px) {
  .leadership-ct h2, .leadership-ct p {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .leadership-ct .col {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .leadership-ct .col img {
    /*padding: 0 15px 20px 15px;*/
    padding: 0 0 20px 0;
  }
}

.board-members-ct {
  flex-direction: column;
  padding: 45px 0;
}
.board-members-ct h2 {
  font-family: "Poppins-Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: center;
  color: #ed1651;
}
@media screen and (max-width: 767px) {
  .board-members-ct h2 {
    font-size: 26px;
  }
}
.board-members-ct p {
  font-family: "Poppins-Regular";
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .board-members-ct p {
    padding-bottom: 0 !important;
    font-size: 20px;
  }
}

.members-ct ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .members-ct ul {
    padding: 0 15px;
  }
}
.members-ct ul li {
  list-style: none;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 7% 5% 0;
}
@media screen and (max-width: 767px) {
  .members-ct ul li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }
}
.members-ct ul li h3, .members-ct ul li p {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 27px;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.members-ct ul li h3 {
  font-family: "Poppins-Bold";
  font-size: 20px;
  color: #ed1651;
  padding-top: 20px;
}
.members-ct ul li p {
  font-family: "Poppins-Regular";
  font-size: 18px;
  color: #000;
}

/*leadership css end*/
.approaches-ct p, .approaches-ct h5 {
  padding-bottom: 5%;
}

.model-school-ct {
  padding: 5% 0;
}
@media screen and (max-width: 767px) {
  .model-school-ct {
    padding: 0 15px;
  }
}
.model-school-ct h2 {
  font-family: "Poppins-Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ed1651;
}
@media screen and (max-width: 767px) {
  .model-school-ct h2 {
    font-size: 26px;
    width: 100%;
  }
}
.model-school-ct p {
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.model-school-ct .inner-sh-ct {
  border-top: solid 1px #ed1651;
  margin-top: 5%;
  padding-top: 2%;
}
.model-school-ct .inner-sh-ct h3 {
  font-family: "Poppins-SemiBold";
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
@media screen and (max-width: 768px) {
  .model-school-ct .inner-sh-ct h3 {
    line-height: 1.5;
  }
}
@media screen and (max-width: 767px) {
  .model-school-ct .inner-sh-ct h3 {
    font-size: 20px;
    line-height: 1.5;
  }
}
.model-school-ct .inner-sh-ct ul {
  margin: 0;
  padding: 0 15px;
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.model-school-ct .inner-sh-ct ul li {
  padding-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .model-school-ct .inner-sh-ct ul li {
    padding-bottom: 15px;
  }
}
.model-school-ct .inner-sh-ct h4 {
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ed1651;
}

.first-act {
  color: #fff;
  padding: 3% 0;
}
@media screen and (max-width: 767px) {
  .first-act {
    padding: 0;
  }
}
.first-act .red-bg {
  background: #ed1651;
}
.first-act .purple-bg {
  background: #542f87;
}
.first-act h2 {
  font-family: "Poppins-SemiBold";
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .first-act h2 {
    font-size: 16px;
  }
}
.first-act ul.apporch-ul {
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .first-act ul.apporch-ul {
    font-size: 12px;
  }
}
.first-act ul.apporch-ul li {
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .first-act ul.apporch-ul li {
    padding-bottom: 10px;
    font-size: 8px;
  }
}
.first-act .right-arrow-ct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-arrow-ct, .left-arrow-ct, .up-arrow-ct, .down-arrow-ct {
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-ma-text h3 {
  text-align: center !important;
}
@media screen and (max-width: 767px) {
  .middle-ma-text h3 {
    font-size: 12px !important;
  }
}

.down-arrow-ct {
  transform: rotate(90deg);
}

.up-arrow-ct {
  transform: rotate(270deg);
}

.left-arrow-ct {
  transform: rotate(180deg);
}

.lint-h h2 {
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .lint-h h2 {
    line-height: 1.2;
  }
}

.table-ct {
  /*.table-image {
    td, th {
      vertical-align: middle;
    }
  }*/
}
.table-ct .wt-50 {
  width: 50%;
}
.table-ct .wt-10 {
  width: 10%;
}
.table-ct .wt-33 {
  width: 33.333%;
}
.table-ct .wt-22 {
  width: 22%;
}
.table-ct .wt-32 {
  width: 32%;
}
.table-ct .wt-20 {
  width: 20%;
}
.table-ct .wt-26 {
  width: 26%;
}
.table-ct .wt-28 {
  width: 28%;
}
.table-ct .wt-40 {
  width: 40%;
}
.table-ct h3 {
  font-family: "Poppins-Bold";
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
  padding-bottom: 2%;
  padding-top: 30px;
}
@media screen and (max-width: 767px) {
  .table-ct h3 {
    padding: 0 15px;
    font-size: 24px;
    line-height: 1.2;
  }
}
.table-ct h5 {
  font-family: "Poppins-Medium";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ed1651;
}
.table-ct .bgcolor thead tr th {
  background: #542f87;
  /*width: 50%;*/
  border: solid #fff;
  font-family: "Poppins-SemiBold";
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.18;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  vertical-align: middle;
}
.table-ct .bgcolor td, .table-ct .bgcolor th {
  border: 3px solid #fff;
  background: #aae1ff;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
.table-ct .bgcolor td {
  font-family: "Poppins-Medium";
}
.table-ct .bgcolor th, .table-ct .bgcolor strong {
  font-family: "Poppins-Bold";
}
.table-ct .lft-bg-color th {
  background: #542f87;
  color: #fff;
}

.red-bg-th {
  background: #ed1651 !important;
}

.white-bg-th {
  background: #fff !important;
}

.part-ct {
  padding: 100px 0;
}
.part-ct h3 {
  font-family: "Poppins-Bold";
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
.part-ct p {
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.rd-part-afrem {
  border-top: solid #ed1651 2px;
  padding-top: 75px;
}
.rd-part-afrem h2 {
  font-family: "Poppins-Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ed1651;
}
.rd-part-afrem h3 {
  font-family: "Poppins-Bold";
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
@media screen and (max-width: 767px) {
  .rd-part-afrem h3 {
    line-height: 1.2;
  }
}
.rd-part-afrem h3 span {
  font-family: "Poppins-Regular";
}
.rd-part-afrem a {
  color: #542f87;
  text-decoration: none;
  font-weight: bold;
  font-family: "Poppins-Bold";
}
.rd-part-afrem p {
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-bottom: 50px;
}
.rd-part-afrem p span {
  display: block;
  margin: 10px 0;
}
.rd-part-afrem .ulist {
  display: flex;
}
.rd-part-afrem .ulist ul {
  margin: 0 15% 0 0;
  padding: 0 0 25px 0;
  list-style: none;
}
.rd-part-afrem .ulist ul li {
  font-family: "Poppins-Regular";
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-bottom: 10px;
}

footer {
  background: #542f87;
  padding: 65px 0 45px 0;
}
footer h2 {
  font-family: "Poppins-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
footer .first-row {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  footer .first-row {
    flex-direction: column;
  }
}
footer .first-row ul {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  footer .first-row ul {
    margin-top: 20px;
  }
}
footer .first-row ul li {
  list-style: none;
  font-size: 15px;
}
footer .first-row ul li a {
  font-family: "Poppins-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.67;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
footer .second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 767px) {
  footer .second-row {
    align-items: flex-start;
  }
}
footer .second-row h2 {
  margin-left: -40px;
}
@media screen and (max-width: 767px) {
  footer .second-row h2 {
    margin-left: 0;
    margin-top: 20px;
  }
}
footer .second-row .icon-ct {
  display: flex;
  align-items: center;
}
footer .second-row .icon-ct a {
  padding-left: 10px;
}
@media screen and (max-width: 767px) {
  footer .second-row .icon-ct a {
    padding-left: 0;
    padding-right: 10px;
  }
}
footer .second-row .icon-ct a img {
  width: 95%;
}
@media screen and (max-width: 767px) {
  footer .third-row {
    margin-top: 20px;
  }
}
footer .third-row p, footer .third-row a {
  /*opacity: 0.4;*/
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  footer .third-row p, footer .third-row a {
    font-size: 14px;
  }
}
footer .third-row p {
  opacity: 0.4;
}
footer .coppy-right p, footer .coppy-right a {
  opacity: 0.4;
  font-family: "Poppins-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
footer .coppy-right a {
  text-align: center;
  text-decoration: none;
}

.hightlight-title {
  font-family: "Poppins-Bold";
  font-size: 44px;
  color: #ed1651;
  line-height: 1.18;
}
@media screen and (max-width: 767px) {
  .hightlight-title {
    font-size: 24px;
  }
}

.contact-us-left-section {
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Poppins-Regular";
}
@media screen and (max-width: 767px) {
  .contact-us-left-section {
    order: 2;
  }
}
.contact-us-left-section a {
  color: #000000;
}
.contact-us-left-section .titile-heading-thin {
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Poppins-Regular";
}
.contact-us-left-section .title-heading-higlight {
  color: #ed1651;
  font-size: 20px;
}
.contact-us-left-section .icon-ct a {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .contact-us-left-section .icon-ct a {
    margin-right: 15px;
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .icon-ct a {
    margin-right: 20px;
    margin-left: 0;
  }
}
.contact-us-left-section .contact-details-sub a {
  display: block;
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .contact-details-sub a {
    word-break: break-word;
  }
}
.contact-us-left-section .contact-form {
  padding-bottom: 15px;
  padding-top: 15px;
}
.contact-us-left-section .contact-form .gform_wrapper div.validation_error {
  display: none;
}
.contact-us-left-section .contact-form .gform_wrapper li.gfield.gfield_error {
  background: transparent;
  border: 0px;
}
.contact-us-left-section .contact-form .gform_wrapper textarea, .contact-us-left-section .contact-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  border: 0px;
  color: #202020;
  font-size: 14px;
  line-height: 25px;
  background: #dbdbdb;
  padding: 9px 20px;
}
.contact-us-left-section .contact-form .gform_wrapper textarea:focus, .contact-us-left-section .contact-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]):focus {
  outline: none;
}
.contact-us-left-section .contact-form .gform_wrapper .gform_footer input.button, .contact-us-left-section .contact-form .gform_wrapper .gform_footer input[type=submit] {
  background: #ed1651;
  color: #fff;
  font-size: 18px;
  font-family: "Poppins-Regular";
  border: 0;
  padding: 10px 37px;
  border: 1px solid #ed1651;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  max-width: calc(100% - 16px) !important;
  width: 100%;
}
.contact-us-left-section .contact-form .gform_wrapper .gform_footer input.button:hover, .contact-us-left-section .contact-form .gform_wrapper .gform_footer input[type=submit]:hover {
  background: transparent;
  border: 1px solid #ed1651;
  color: #ed1651;
  display: block;
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .contact-form .gform_wrapper .gform_footer input.button:hover, .contact-us-left-section .contact-form .gform_wrapper .gform_footer input[type=submit]:hover {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .contact-form .gform_wrapper .gform_footer input.button, .contact-us-left-section .contact-form .gform_wrapper .gform_footer input[type=submit] {
    margin: 0 auto;
    /*margin-left: -15px;*/
    /*text-align: left !important;*/
  }
}
.contact-us-left-section .contact-form .gform_wrapper .gform_footer {
  margin: 0;
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .contact-form .gform_wrapper .gform_footer {
    text-align: left;
  }
}
.contact-us-left-section .contact-form .gform_wrapper li.hidden_label input {
  margin-top: 0;
}
.contact-us-left-section .w-80 {
  width: 80%;
}
@media screen and (max-width: 1024px) {
  .contact-us-left-section .w-80 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .w-80 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .inner-left-cnt {
    order: 2;
  }
}
@media screen and (max-width: 767px) {
  .contact-us-left-section .inner-right-cnt {
    order: 1;
    margin-bottom: 70px;
  }
}

.contact-us-right-section {
  padding-top: 140px;
}
@media screen and (max-width: 767px) {
  .contact-us-right-section {
    order: 1;
    padding-top: 0;
  }
}

.download_partner_ship {
  font-family: "Poppins-Medium";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: 0.09px;
  text-align: center;
  color: #ffffff !important;
  /* background: hsl(0, 0%, 90%); */
  background: #adadad;
  max-width: 206px;
  margin: 0;
  padding: 3px;
  display: none;
}
@media screen and (max-width: 767px) {
  .download_partner_ship {
    display: none;
  }
}
.download_partner_ship a {
  color: #fff !important;
}

#menu-main-menu .current-menu-item a {
  color: #ed1651 !important;
}

#menu-footer-menu {
  text-transform: uppercase;
}

.gform_wrapper div.validation_error {
  display: none;
}

.i-button {
  position: fixed;
  top: 85%;
  right: 30px;
  transform: translateY(-85%);
  max-width: 60px;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .i-button {
    top: auto;
    transform: translateY(-85%);
    max-width: 60px;
    bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .mb-padd-pri h2 {
    padding-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .mb-padd-pri ol {
    padding-left: 15px !important;
  }
}

.mo-show {
  display: none;
}
@media screen and (max-width: 767px) {
  .mo-show {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.mobile-ct-rig {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .mobile-ct-rig {
    align-items: flex-start;
  }
}
@media screen and (max-width: 767px) {
  .mobile-ct-rig {
    align-items: flex-start;
  }
}
.mobile-ct-rig h3 {
  display: flex;
  align-items: baseline;
  justify-content: left;
  float: left;
  text-align: left;
  margin-right: 75px;
}

@media screen and (max-width: 767px) {
  .font-wt {
    font-size: 18px;
  }
}

.blog-pg .sty-ribban {
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .blog-pg .sty-ribban h2 {
    display: block;
    font-size: 24px;
  }
}

.blog-details-pg h3 {
  font-family: "Poppins-SemiBold";
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
  padding-bottom: 2%;
}
.blog-details-pg a {
  text-decoration: none;
}
.blog-details-pg a h2 {
  font-family: "Poppins-Bold";
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ed1651;
  padding: 15px 0;
}
.blog-details-pg a p {
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-bottom: 15%;
}

#seeMore {
  background: #542f87;
  color: #fff;
  font-family: "Poppins-Medium";
  font-size: 17px;
  line-height: 31px;
  border: none;
  font-weight: normal;
  padding: 5px 15px;
  margin-bottom: 15px;
}

.purpple-bg {
  background: #542f87;
  padding: 25px 0;
  margin: 5% 0 3% 0;
}
@media screen and (max-width: 767px) {
  .purpple-bg {
    margin: 0 0 8% 0;
  }
}
.purpple-bg h3 {
  font-family: "Poppins-SemiBold";
  font-size: 26px;
  color: #fff;
}
.purpple-bg .card-image a {
  text-decoration: none;
}
.purpple-bg .card-image a h2 {
  font-family: "Poppins-Bold";
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #aae1ff;
  padding: 15px 0;
}
.purpple-bg .card-image a p {
  font-family: "Poppins-Regular";
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .blog-article img {
    padding-bottom: 0 !important;
    display: block;
    margin: 0 auto;
  }
}
.blog-article h2 {
  max-width: 100%;
  padding-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .blog-article h2 {
    font-size: 24px;
    padding: 0 15px;
  }
}
.blog-article .Author {
  display: flex;
}
@media screen and (max-width: 767px) {
  .blog-article .Author {
    justify-content: space-between;
    margin-top: 25px;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}
.blog-article .Author p {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.blog-article .Author p span {
  font-family: "Poppins-SemiBold";
  color: #542f87;
}
@media screen and (max-width: 767px) {
  .blog-article .Author p {
    margin-right: 0;
    padding-bottom: 0 !important;
  }
}

.blog-article-dest {
  padding-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .blog-article-dest {
    padding-bottom: 15px;
  }
}
.blog-article-dest p {
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
@media screen and (max-width: 767px) {
  .blog-article-dest p {
    font-size: 14px;
  }
}
.blog-article-dest p iframe {
  margin: 25px auto;
  display: block;
}
@media screen and (max-width: 767px) {
  .blog-article-dest p iframe {
    width: 100%;
  }
}
.blog-article-dest p a {
  color: #ed1651;
  font-family: "Poppins-Regular";
}
.blog-article-dest h2, .blog-article-dest h4 {
  font-family: "Poppins-Bold";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
@media screen and (max-width: 767px) {
  .blog-article-dest h2, .blog-article-dest h4 {
    font-size: 20px;
  }
}
.blog-article-dest h5 {
  font-family: "Poppins-Regular";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
@media screen and (max-width: 767px) {
  .blog-article-dest h5 {
    font-size: 14px;
  }
}
.blog-article-dest h5 span {
  color: #ed1651;
}

.back-btn {
  display: flex;
  padding-left: 15px;
  text-decoration: none !important;
}
@media screen and (max-width: 767px) {
  .back-btn {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
.back-btn img {
  margin-right: 10px;
  width: 30px;
}
@media screen and (max-width: 767px) {
  .back-btn p {
    padding-bottom: 0 !important;
  }
}

.tags-post-ct {
  margin-bottom: 15px;
}
.tags-post-ct span {
  border: solid 2px #ed1651;
  margin: 0 10px 10px 0;
  padding: 5px 20px;
  display: inline-block;
}
.tags-post-ct span a {
  text-decoration: none;
  font-family: "Poppins-Medium";
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
  color: #ed1651;
}

.share-on-right {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .share-on-right {
    justify-content: flex-start;
  }
}

.share-on {
  font-family: "Poppins-Regular";
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.share-on h3 {
  font-size: 26px;
}
.share-on .social-icon-share {
  margin-bottom: 20px;
}
.share-on .social-icon-share a {
  margin-right: 15px;
}
.share-on .social-icon-share a img {
  width: 32px;
}

.dots-ct {
  bottom: -6px !important;
}

form#commentform {
  display: flex;
  flex-wrap: wrap;
  max-width: 640px;
}
@media screen and (max-width: 767px) {
  form#commentform {
    padding: 0 15px;
    max-width: 290px;
  }
}
form#commentform .comment-notes, form#commentform .comment-form-cookies-consent {
  display: none;
}
form#commentform p.comment-form-author {
  order: 1;
  width: 40%;
}
@media screen and (max-width: 767px) {
  form#commentform p.comment-form-author {
    width: 100%;
  }
}
form#commentform p.comment-form-author input {
  width: 94%;
  background: #dcdcdc;
  border: none;
  height: 40px;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  form#commentform p.comment-form-author input {
    width: 100%;
  }
}
form#commentform p.comment-form-author span.required {
  display: none;
}
form#commentform p.comment-form-email {
  order: 2;
  width: 58%;
}
@media screen and (max-width: 767px) {
  form#commentform p.comment-form-email {
    width: 100%;
  }
}
form#commentform p.comment-form-email input {
  background: #dcdcdc;
  border: none;
  height: 40px;
  padding: 10px;
  width: 97%;
}
@media screen and (max-width: 767px) {
  form#commentform p.comment-form-email input {
    width: 100%;
  }
}
form#commentform p.comment-form-email span.required {
  display: none;
}
form#commentform p.comment-form-comment {
  order: 3;
  max-width: 98%;
  width: 98%;
}
@media screen and (max-width: 767px) {
  form#commentform p.comment-form-comment {
    width: 100%;
    max-width: 100%;
  }
}
form#commentform p.comment-form-comment textarea {
  background: #dcdcdc;
  border: none;
  padding: 10px;
  max-width: 98%;
  width: 98%;
}
@media screen and (max-width: 767px) {
  form#commentform p.comment-form-comment textarea {
    width: 100%;
    max-width: 100%;
  }
}
form#commentform p.form-submit {
  order: 4;
}
form#commentform p.form-submit input {
  font-family: Poppins-Medium;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background: #ed1651;
  border: none;
  padding: 10px 15px;
}

.crunchify-text h5 {
  font-family: Poppins-SemiBold;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
@media screen and (max-width: 767px) {
  .crunchify-text h5 {
    padding: 0 15px;
    line-height: 1;
  }
}

div#comments #comment-status {
  color: #FF0000;
  padding-left: 0px;
}
div#comments ol.comment-list {
  max-width: 60%;
}
@media screen and (max-width: 767px) {
  div#comments ol.comment-list {
    max-width: 100%;
  }
}
div#comments ol.comment-list footer {
  background: transparent;
  padding: 0;
}

.desk-hd {
  display: block;
}
@media screen and (max-width: 767px) {
  .desk-hd {
    display: none;
  }
}

.mobile-hd {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-hd {
    display: block;
  }
}

div#comments ol.comment-list {
  max-width: 100% !important;
}

div#respond {
  padding-left: 15px;
}
div#respond small {
  color: #ed1651;
}
@media screen and (max-width: 767px) {
  div#respond small {
    font-size: 17px;
    color: #ed1651;
    padding-left: 15px;
  }
}

.leave-commt-style article.comment-body {
  background: #dcdcdc;
  margin-bottom: 15px;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .leave-commt-style article.comment-body {
    margin-right: 10px;
  }
}
.leave-commt-style .comment-author.vcard img {
  border-radius: 50px;
  margin: 10px;
}
.leave-commt-style .comment-author.vcard b.fn {
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
}
@media screen and (max-width: 767px) {
  .leave-commt-style .comment-author.vcard b.fn {
    font-size: 16px;
  }
}
.leave-commt-style .comment-metadata {
  margin: 0 10px;
}
.leave-commt-style .comment-metadata a {
  text-decoration: none;
  font-family: "Poppins-Medium";
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
  color: #ed1651;
}
.leave-commt-style .comment-content {
  margin: 0 10px;
}
.leave-commt-style .reply a {
  font-family: "Poppins-SemiBold";
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #542f87;
  margin: 0 10px 10px;
}

.tag_listing_page #tag_listing_article_header {
  padding: 8px 0px;
  font-size: 30px;
}
.tag_listing_page h2 {
  font-size: 25px;
}
.tag_listing_page .blog-hd {
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .tag_listing_page .blog-hd {
    padding: 0 !important;
  }
}
.tag_listing_page .blog-hd a {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .tag_listing_page .blog-hd a p {
    padding-bottom: 20px !important;
  }
}
@media screen and (max-width: 767px) {
  .tag_listing_page .blog-hd a h2, .tag_listing_page .blog-hd a p {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .tag_listing_page .blog-hd a h2 {
    padding-bottom: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .tag_listing_page .blog-hd a p {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 767px) {
  .mobile-padd {
    padding: 0;
  }
}
.mobile-padd h2, .mobile-padd p {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media screen and (max-width: 767px) {
  .mb-space .container-fluid {
    padding: 0;
    margin-top: 20px;
  }
}

.bg-landing {
  background: url(./assets/images/landing-bg1.jpg);
  background-size: 100% 100%;
  margin: 0;
  min-height: 526px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .bg-landing {
    padding-bottom: 20px;
  }
}
.bg-landing .headtag {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  background: #ed1651;
  display: block;
  /*margin-left: -15px;*/
  max-width: 520px;
  padding: 15px 15px 3px 15px;
  margin-bottom: 15px;
}
.bg-landing .headtag:first-child {
  margin-top: 10%;
}
@media screen and (max-width: 767px) {
  .bg-landing .headtag:first-child {
    margin-right: auto;
    margin-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .bg-landing .headtag {
    pointer-events: visible;
    cursor: pointer;
  }
}
.bg-landing .headtag h2 {
  font-family: "Poppins-Bold";
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .bg-landing .headtag h2 {
    font-size: 22px;
  }
}
.bg-landing .headtag h3 {
  font-family: "Poppins-Medium";
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0;
}
.bg-landing .headtag p {
  font-family: "Poppins-ExtraLight";
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .bg-landing .headtag p {
    line-height: 1.54;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .bg-landing .headtag p img {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
.bg-landing a.gotohome {
  background: #542f87;
  color: #fff;
  padding: 15px 20px;
  margin-top: 4%;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  /*border: solid 1px #542f87;*/
}
.bg-landing a.gotohome:hover {
  /*border: solid 1px #542f87;*/
  background: #e0e0e0;
  color: #542f87;
}
.bg-landing .submit-btn .landform {
  padding: 0 0 1px 15px;
  background: #fff;
  border-radius: 5px;
}
.bg-landing .submit-btn .landform .gform_body ul {
  /*li.gfield_error{
  	border: 1px solid #ff0017;
  }*/
}
.bg-landing .submit-btn .landform .gform_body ul li {
  padding-right: 0;
  margin-top: 20px;
  max-width: calc(100% - 16px) !important;
}
.bg-landing .submit-btn .landform .gform_body ul li:nth-child(1) label {
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #542f87;
  display: block;
  padding: 15px 0 10px 0;
}
.bg-landing .submit-btn .landform .gform_body ul li:nth-child(1) label span {
  display: none;
}
.bg-landing .submit-btn .landform .gform_body ul li select {
  background: #dbdbdb;
  border: none;
  padding: 8px 10px;
  background: url("./assets/images/br_down.png") no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 97%;
  background-size: 11px;
  border-radius: 0;
}
.bg-landing .submit-btn .landform .gform_body ul li select:focus {
  outline: none;
}
.bg-landing .submit-btn .landform .gform_body ul li label {
  display: none;
}
.bg-landing .submit-btn .landform .gform_body ul li span input {
  background: #dbdbdb;
  border: none;
  padding: 10px;
}
.bg-landing .submit-btn .landform .gform_body ul li span label {
  display: none;
}
.bg-landing .submit-btn .landform .gform_body ul li input {
  background: #dbdbdb;
  border: none;
  padding: 10px !important;
  height: 40px;
  margin-top: 0;
}
.bg-landing .submit-btn .landform .gform_body ul li input:focus {
  outline: none;
}
.bg-landing .submit-btn .landform .gform_body ul li input::placeholder {
  color: #202020;
}
.bg-landing .submit-btn .landform .gform_body ul li .validation_message {
  display: none;
}
.bg-landing .submit-btn .landform .gform_body ul li.gfield.gfield_error {
  border: none;
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.bg-landing .submit-btn .landform .gform_body ul li.gfield.gfield_error select {
  border: 1px solid #ff0017;
}
.bg-landing .submit-btn .landform .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  border: 1px solid #ff0017;
}
.bg-landing .submit-btn .landform .gform_wrapper .gform_footer {
  padding: 0;
  margin: 30px ​0 10px;
  clear: both;
  width: 100%;
  padding-right: 15px;
}
.bg-landing .submit-btn .landform .gform_wrapper .gform_footer input {
  background: #ed1651;
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border: none;
  margin-bottom: 15px;
  border: 1px solid #ed1651;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
.bg-landing .submit-btn .landform .gform_wrapper .gform_footer input:hover {
  background: transparent;
  border: 1px solid #ed1651;
  color: #ed1651;
  display: block;
}
.bg-landing .submit-btn .landform .gform_footer .validation_error {
  display: block !important;
  border: none !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  color: #e94150 !important;
}

@media only screen and (min-width: 641px) {
  .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: calc(100% - 1px) !important;
  }
}
div#gform_wrapper_3 {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 375px) {
  .work-ct .bg-path:before {
    right: 30px;
  }

  .work-ct .bg-path:after {
    left: 30px;
  }
}
/*// scroll down arrow with header animation*/
.back_to_top {
  position: fixed;
  bottom: 30px;
  right: 40px;
  text-align: center;
  font-size: 12px;
  z-index: 1000;
}

#btnscroll {
  display: block;
  background: #532f87;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: #532f87;
}
#btnscroll .toptxt {
  display: block;
}
@media screen and (max-width: 767px) {
  #btnscroll {
    bottom: 5px;
    right: 40px;
  }
}
#btnscroll:before {
  /*content: "\f077";*/
  content: "⥣";
  /*font-family: FontAwesome;*/
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 40px;
  color: #fff;
}
#btnscroll:hover {
  cursor: pointer;
  background: #333;
  text-decoration: none;
}
#btnscroll:active {
  background: #555;
  text-decoration: none;
}

#btnscroll.show {
  opacity: 1;
  visibility: visible;
}

.animetnav {
  position: fixed;
  z-index: 2222222;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin: 0 !important;
}
.animetnav .navbar-brand img {
  width: 70px;
}

/* Styles for the content section */
.right-arr {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-arr span {
  font-size: 90px;
}
@media screen and (max-width: 767px) {
  .right-arr span {
    font-size: 70px;
    transform: rotate(90deg);
  }
}

#approchnav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#approchnav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  #approchnav ul li a {
    align-items: flex-start;
    font-size: 18px;
    padding: 10px 0 !important;
  }
}
#approchnav ul li a img {
  height: 100px;
  /*padding-bottom: 20px;*/
  max-width: 30%;
}
#approchnav ul li:after {
  background: transparent;
}

.contact-us-left-section #gform_wrapper_4, .contact-us-left-section #gform_wrapper_5, .contact-us-left-section #gform_wrapper_7, .contact-us-left-section #gform_wrapper_8, .sticky-form-ct #gform_wrapper_4, .sticky-form-ct #gform_wrapper_5, .sticky-form-ct #gform_wrapper_7, .sticky-form-ct #gform_wrapper_8 {
  margin: 0;
  padding: 0;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul, .contact-us-left-section #gform_wrapper_5 .gform_body ul, .contact-us-left-section #gform_wrapper_7 .gform_body ul, .contact-us-left-section #gform_wrapper_8 .gform_body ul, .sticky-form-ct #gform_wrapper_4 .gform_body ul, .sticky-form-ct #gform_wrapper_5 .gform_body ul, .sticky-form-ct #gform_wrapper_7 .gform_body ul, .sticky-form-ct #gform_wrapper_8 .gform_body ul {
  /*li.gfield_error{
  	border: 1px solid #ff0017;
  }*/
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li, .contact-us-left-section #gform_wrapper_5 .gform_body ul li, .contact-us-left-section #gform_wrapper_7 .gform_body ul li, .contact-us-left-section #gform_wrapper_8 .gform_body ul li, .sticky-form-ct #gform_wrapper_4 .gform_body ul li, .sticky-form-ct #gform_wrapper_5 .gform_body ul li, .sticky-form-ct #gform_wrapper_7 .gform_body ul li, .sticky-form-ct #gform_wrapper_8 .gform_body ul li {
  padding-right: 0;
  margin-top: 20px;
  max-width: calc(100% - 16px) !important;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li:nth-child(1) label, .contact-us-left-section #gform_wrapper_5 .gform_body ul li:nth-child(1) label, .contact-us-left-section #gform_wrapper_7 .gform_body ul li:nth-child(1) label, .contact-us-left-section #gform_wrapper_8 .gform_body ul li:nth-child(1) label, .sticky-form-ct #gform_wrapper_4 .gform_body ul li:nth-child(1) label, .sticky-form-ct #gform_wrapper_5 .gform_body ul li:nth-child(1) label, .sticky-form-ct #gform_wrapper_7 .gform_body ul li:nth-child(1) label, .sticky-form-ct #gform_wrapper_8 .gform_body ul li:nth-child(1) label {
  font-family: "Poppins-SemiBold";
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #542f87;
  display: block;
  padding: 15px 0 10px 0;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li:nth-child(1) label span, .contact-us-left-section #gform_wrapper_5 .gform_body ul li:nth-child(1) label span, .contact-us-left-section #gform_wrapper_7 .gform_body ul li:nth-child(1) label span, .contact-us-left-section #gform_wrapper_8 .gform_body ul li:nth-child(1) label span, .sticky-form-ct #gform_wrapper_4 .gform_body ul li:nth-child(1) label span, .sticky-form-ct #gform_wrapper_5 .gform_body ul li:nth-child(1) label span, .sticky-form-ct #gform_wrapper_7 .gform_body ul li:nth-child(1) label span, .sticky-form-ct #gform_wrapper_8 .gform_body ul li:nth-child(1) label span {
  display: none;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li select, .contact-us-left-section #gform_wrapper_5 .gform_body ul li select, .contact-us-left-section #gform_wrapper_7 .gform_body ul li select, .contact-us-left-section #gform_wrapper_8 .gform_body ul li select, .sticky-form-ct #gform_wrapper_4 .gform_body ul li select, .sticky-form-ct #gform_wrapper_5 .gform_body ul li select, .sticky-form-ct #gform_wrapper_7 .gform_body ul li select, .sticky-form-ct #gform_wrapper_8 .gform_body ul li select {
  background: #dbdbdb;
  border: none;
  padding: 9px 10px;
  background: url("./assets/images/br_down.png") no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 97%;
  background-size: 11px;
  border-radius: 0;
  font-size: 14px;
  line-height: 26px;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li select:focus, .contact-us-left-section #gform_wrapper_5 .gform_body ul li select:focus, .contact-us-left-section #gform_wrapper_7 .gform_body ul li select:focus, .contact-us-left-section #gform_wrapper_8 .gform_body ul li select:focus, .sticky-form-ct #gform_wrapper_4 .gform_body ul li select:focus, .sticky-form-ct #gform_wrapper_5 .gform_body ul li select:focus, .sticky-form-ct #gform_wrapper_7 .gform_body ul li select:focus, .sticky-form-ct #gform_wrapper_8 .gform_body ul li select:focus {
  outline: none;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li label, .contact-us-left-section #gform_wrapper_5 .gform_body ul li label, .contact-us-left-section #gform_wrapper_7 .gform_body ul li label, .contact-us-left-section #gform_wrapper_8 .gform_body ul li label, .sticky-form-ct #gform_wrapper_4 .gform_body ul li label, .sticky-form-ct #gform_wrapper_5 .gform_body ul li label, .sticky-form-ct #gform_wrapper_7 .gform_body ul li label, .sticky-form-ct #gform_wrapper_8 .gform_body ul li label {
  display: none;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li span input, .contact-us-left-section #gform_wrapper_5 .gform_body ul li span input, .contact-us-left-section #gform_wrapper_7 .gform_body ul li span input, .contact-us-left-section #gform_wrapper_8 .gform_body ul li span input, .sticky-form-ct #gform_wrapper_4 .gform_body ul li span input, .sticky-form-ct #gform_wrapper_5 .gform_body ul li span input, .sticky-form-ct #gform_wrapper_7 .gform_body ul li span input, .sticky-form-ct #gform_wrapper_8 .gform_body ul li span input {
  background: #dbdbdb;
  border: none;
  padding: 10px;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li span label, .contact-us-left-section #gform_wrapper_5 .gform_body ul li span label, .contact-us-left-section #gform_wrapper_7 .gform_body ul li span label, .contact-us-left-section #gform_wrapper_8 .gform_body ul li span label, .sticky-form-ct #gform_wrapper_4 .gform_body ul li span label, .sticky-form-ct #gform_wrapper_5 .gform_body ul li span label, .sticky-form-ct #gform_wrapper_7 .gform_body ul li span label, .sticky-form-ct #gform_wrapper_8 .gform_body ul li span label {
  display: none;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li input, .contact-us-left-section #gform_wrapper_5 .gform_body ul li input, .contact-us-left-section #gform_wrapper_7 .gform_body ul li input, .contact-us-left-section #gform_wrapper_8 .gform_body ul li input, .sticky-form-ct #gform_wrapper_4 .gform_body ul li input, .sticky-form-ct #gform_wrapper_5 .gform_body ul li input, .sticky-form-ct #gform_wrapper_7 .gform_body ul li input, .sticky-form-ct #gform_wrapper_8 .gform_body ul li input {
  background: #dbdbdb;
  border: none;
  padding: 9px 10px !important;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li input:focus, .contact-us-left-section #gform_wrapper_5 .gform_body ul li input:focus, .contact-us-left-section #gform_wrapper_7 .gform_body ul li input:focus, .contact-us-left-section #gform_wrapper_8 .gform_body ul li input:focus, .sticky-form-ct #gform_wrapper_4 .gform_body ul li input:focus, .sticky-form-ct #gform_wrapper_5 .gform_body ul li input:focus, .sticky-form-ct #gform_wrapper_7 .gform_body ul li input:focus, .sticky-form-ct #gform_wrapper_8 .gform_body ul li input:focus {
  outline: none;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li input::placeholder, .contact-us-left-section #gform_wrapper_5 .gform_body ul li input::placeholder, .contact-us-left-section #gform_wrapper_7 .gform_body ul li input::placeholder, .contact-us-left-section #gform_wrapper_8 .gform_body ul li input::placeholder, .sticky-form-ct #gform_wrapper_4 .gform_body ul li input::placeholder, .sticky-form-ct #gform_wrapper_5 .gform_body ul li input::placeholder, .sticky-form-ct #gform_wrapper_7 .gform_body ul li input::placeholder, .sticky-form-ct #gform_wrapper_8 .gform_body ul li input::placeholder {
  color: #202020;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li .validation_message, .contact-us-left-section #gform_wrapper_5 .gform_body ul li .validation_message, .contact-us-left-section #gform_wrapper_7 .gform_body ul li .validation_message, .contact-us-left-section #gform_wrapper_8 .gform_body ul li .validation_message, .sticky-form-ct #gform_wrapper_4 .gform_body ul li .validation_message, .sticky-form-ct #gform_wrapper_5 .gform_body ul li .validation_message, .sticky-form-ct #gform_wrapper_7 .gform_body ul li .validation_message, .sticky-form-ct #gform_wrapper_8 .gform_body ul li .validation_message {
  display: none;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li.gfield.gfield_error, .contact-us-left-section #gform_wrapper_5 .gform_body ul li.gfield.gfield_error, .contact-us-left-section #gform_wrapper_7 .gform_body ul li.gfield.gfield_error, .contact-us-left-section #gform_wrapper_8 .gform_body ul li.gfield.gfield_error, .sticky-form-ct #gform_wrapper_4 .gform_body ul li.gfield.gfield_error, .sticky-form-ct #gform_wrapper_5 .gform_body ul li.gfield.gfield_error, .sticky-form-ct #gform_wrapper_7 .gform_body ul li.gfield.gfield_error, .sticky-form-ct #gform_wrapper_8 .gform_body ul li.gfield.gfield_error {
  border: none;
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
.contact-us-left-section #gform_wrapper_4 .gform_body ul li.gfield.gfield_error select, .contact-us-left-section #gform_wrapper_5 .gform_body ul li.gfield.gfield_error select, .contact-us-left-section #gform_wrapper_7 .gform_body ul li.gfield.gfield_error select, .contact-us-left-section #gform_wrapper_8 .gform_body ul li.gfield.gfield_error select, .sticky-form-ct #gform_wrapper_4 .gform_body ul li.gfield.gfield_error select, .sticky-form-ct #gform_wrapper_5 .gform_body ul li.gfield.gfield_error select, .sticky-form-ct #gform_wrapper_7 .gform_body ul li.gfield.gfield_error select, .sticky-form-ct #gform_wrapper_8 .gform_body ul li.gfield.gfield_error select {
  border: 1px solid #ff0017;
}
.contact-us-left-section #gform_wrapper_4 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .contact-us-left-section #gform_wrapper_5 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .contact-us-left-section #gform_wrapper_7 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .contact-us-left-section #gform_wrapper_8 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .sticky-form-ct #gform_wrapper_4 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .sticky-form-ct #gform_wrapper_5 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .sticky-form-ct #gform_wrapper_7 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .sticky-form-ct #gform_wrapper_8 .gform_body li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  border: 1px solid #ff0017;
}
.contact-us-left-section #gform_wrapper_4 .gform_wrapper .gform_footer, .contact-us-left-section #gform_wrapper_5 .gform_wrapper .gform_footer, .contact-us-left-section #gform_wrapper_7 .gform_wrapper .gform_footer, .contact-us-left-section #gform_wrapper_8 .gform_wrapper .gform_footer, .sticky-form-ct #gform_wrapper_4 .gform_wrapper .gform_footer, .sticky-form-ct #gform_wrapper_5 .gform_wrapper .gform_footer, .sticky-form-ct #gform_wrapper_7 .gform_wrapper .gform_footer, .sticky-form-ct #gform_wrapper_8 .gform_wrapper .gform_footer {
  padding: 0;
  margin: 30px ​0 10px;
  clear: both;
  width: 100%;
  padding-right: 15px;
}
.contact-us-left-section #gform_wrapper_4 .gform_wrapper .gform_footer input, .contact-us-left-section #gform_wrapper_5 .gform_wrapper .gform_footer input, .contact-us-left-section #gform_wrapper_7 .gform_wrapper .gform_footer input, .contact-us-left-section #gform_wrapper_8 .gform_wrapper .gform_footer input, .sticky-form-ct #gform_wrapper_4 .gform_wrapper .gform_footer input, .sticky-form-ct #gform_wrapper_5 .gform_wrapper .gform_footer input, .sticky-form-ct #gform_wrapper_7 .gform_wrapper .gform_footer input, .sticky-form-ct #gform_wrapper_8 .gform_wrapper .gform_footer input {
  background: #ed1651;
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border: none;
  margin-bottom: 15px;
  border: 1px solid #ed1651;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
}
.contact-us-left-section #gform_wrapper_4 .gform_wrapper .gform_footer input:hover, .contact-us-left-section #gform_wrapper_5 .gform_wrapper .gform_footer input:hover, .contact-us-left-section #gform_wrapper_7 .gform_wrapper .gform_footer input:hover, .contact-us-left-section #gform_wrapper_8 .gform_wrapper .gform_footer input:hover, .sticky-form-ct #gform_wrapper_4 .gform_wrapper .gform_footer input:hover, .sticky-form-ct #gform_wrapper_5 .gform_wrapper .gform_footer input:hover, .sticky-form-ct #gform_wrapper_7 .gform_wrapper .gform_footer input:hover, .sticky-form-ct #gform_wrapper_8 .gform_wrapper .gform_footer input:hover {
  background: transparent;
  border: 1px solid #ed1651;
  color: #ed1651;
  display: block;
}
.contact-us-left-section #gform_wrapper_4 .gform_footer .validation_error, .contact-us-left-section #gform_wrapper_5 .gform_footer .validation_error, .contact-us-left-section #gform_wrapper_7 .gform_footer .validation_error, .contact-us-left-section #gform_wrapper_8 .gform_footer .validation_error, .sticky-form-ct #gform_wrapper_4 .gform_footer .validation_error, .sticky-form-ct #gform_wrapper_5 .gform_footer .validation_error, .sticky-form-ct #gform_wrapper_7 .gform_footer .validation_error, .sticky-form-ct #gform_wrapper_8 .gform_footer .validation_error {
  display: block !important;
  border: none !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  color: #e94150 !important;
}

.sticky-form-ct #gform_wrapper_5 .gform_body ul li:nth-child(1) label,
.sticky-form-ct #gform_wrapper_8 .gform_body ul li:nth-child(1) label {
  display: none;
}

.topmenu ul .dropdownar .sub-menu li a {
  color: #212121 !important;
}

#menu-main-menu .current-menu-item .sub-menu li a {
  color: #212121 !important;
}

@media only screen and (max-width: 641px) {
  .dropdownar {
    width: 85% !important;
  }
}
#gform_wrapper_5 .ginput_container_select, #gform_wrapper_8 .ginput_container_select {
  margin-bottom: 10px;
}
#gform_wrapper_5 .gform_body ul li.gfield input, #gform_wrapper_8 .gform_body ul li.gfield input {
  padding: 13px !important;
  margin-bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
